--- 

### DSGA1007

--- 

### HW07 

### Due Date: Sunday 2021-12-05, 8 PM

---

#### Student Name: Yoon Tae Park

#### Student NetID: yp2201

**Problem 1 (100 points)**


In this HW as in Lab11 we consider some of the data sets on `restaurant-data-with-consumer-ratings` from: https://www.kaggle.com/uciml/restaurant-data-with-consumer-ratings

The data is attached. For all details on data sets, see descriptions in the README file.

**1.1 (5 points)**

Use a shell command to display all provided `*.csv` files (i.e. display the names of all csv files provided).

**1.2 (5 points)**

Read `./userpayment.csv`, print its head, and print the number of all transactions, i.e. `Upayment`s.

**1.3 (5 points)**

Read `'./userprofile.csv'`, and print its head.

**1.4 (5 points)**


From this table, one can get many characteristics of the users. Let us consider heights of the users. What are the minimum height and the maximum height of all users?

**1.5 (5 points)** 

Plot a histogram of the heights of users. 

Set the parameter `bins=250` (which is the number of bins in the given histogram).

**1.6 (5 points)**


What is the number of users with the height of 1.80 meters?

**1.7 (5 points)**

Read `./rating_final.csv`, and print its head.

**1.8 (5 points)**

Read `./geoplaces2.csv`, print its head.

**1.9 (5 points)**

Print the number of unique users(i.e. 'userID') as well as the number of unique restaurants (i.e. 'placeID'),
included in `./rating_final.csv`.

**1.10 (15 points)**

Use the ratings `rating_final.csv`. 'Group by' the data by `placeID` and obtain `mean` and `std` of each of the ratings (`rating`, `food_rating`, and `service_rating`) for each restaurant (i.e. for each `placeID`).

Print the head of this frame so to show the results.

**1.11 (10 points)**


Rank the restaurants IDs (i.e. 'placeID') by their `mean ratings` increasingly.

Print the restaurants IDs (i.e. 'placeID') and `mean ratings` with the lowest `mean ratings` (hint: lowest appears at the top).

Print the restaurants IDs (i.e. 'placeID') and `mean ratings` with the highest `mean ratings` (hint: highest appears at the bottom).

**1.12 (10 points)**

Make and print a table with columns (`place`, `mean`, `name`), 
which are the restaurant's ID, mean ratings, and name, 
of the 10 restaurants with the lowest `mean ratings`.

**1.13 (10 points)**

Make and print a table with columns (`place`, `mean`, `name`), 
which are the restaurant's ID, mean ratings, and name, 
of the 10 restaurants with the highest `mean ratings`.

**1.14 (10 points)**


Print `name`, `city`, `state` for the two restaurants with the lowest and highest rank from the "1.11" problem sorted data frame (which ranks the restaurants IDs (i.e. 'placeID') by their `mean ratings` increasingly).