In [1]:
# project 1007
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

plt.style.use('seaborn')
sns.set(font_scale=2.5)

#ignore warnings
import warnings
warnings.filterwarnings('ignore')

# to see the result of plot graph in same screen
%matplotlib inline

# student_df_0 = pd.read_excel('./Data_For_Students_Fall_2021_1007.xlsx', sheet_name = 0, header=1)
# student_df_1 = pd.read_excel('./Data_For_Students_Fall_2021_1007.xlsx', sheet_name = 1, header=1)
# student_df_2 = pd.read_excel('./Data_For_Students_Fall_2021_1007.xlsx', sheet_name = 2, header=1)
student_df_3 = pd.read_excel('./Data_For_Students_Fall_2021_1007.xlsx', sheet_name = 3, header=1)
student_df_4 = pd.read_excel('./Data_For_Students_Fall_2021_1007.xlsx', sheet_name = 4, header=2)
student_df_5 = pd.read_excel('./Data_For_Students_Fall_2021_1007.xlsx', sheet_name = 5, header=2)
student_df_6 = pd.read_excel('./Data_For_Students_Fall_2021_1007.xlsx', sheet_name = 6, header=2)

In [2]:
# Since summer internship and career outcome have similar columns, simply add lines and make a merged dataset
# df_3: Summer internship, df_4~6: career outcome for given academic years

# Starting with summer internship dataset
student_df_3.head(3)

,Semester,Organization,Job Title,Job Location,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26
0,Summer 2021,Citadel,Data Management Technical Intern,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Summer 2021,Adobe,2021 Intern-Data Science Analyst,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Summer 2021,Prudential,Masters Summer Associate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
# It seems that there are empty columns included. 
# Select 4 columns that have actual values 
student_df_3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 133 entries, 0 to 132
Data columns (total 27 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Semester      133 non-null    object
 1   Organization  133 non-null    object
 2   Job Title     130 non-null    object
 3   Job Location  87 non-null     object
 4   Unnamed: 4    0 non-null      float64
 5   Unnamed: 5    0 non-null      float64
 6   Unnamed: 6    0 non-null      float64
 7   Unnamed: 7    0 non-null      float64
 8   Unnamed: 8    0 non-null      float64
 9   Unnamed: 9    0 non-null      float64
 10  Unnamed: 10   0 non-null      float64
 11  Unnamed: 11   0 non-null      float64
 12  Unnamed: 12   0 non-null      float64
 13  Unnamed: 13   0 non-null      float64
 14  Unnamed: 14   0 non-null      float64
 15  Unnamed: 15   0 non-null      float64
 16  Unnamed: 16   0 non-null      float64
 17  Unnamed: 17   0 non-null      float64
 18  Unnamed: 18   0 non-null      float64
 19  Unnamed: 19   0 non-null      float64
 20  Unnamed: 20   0 non-null      float64
 21  Unnamed: 21   0 non-null      float64
 22  Unnamed: 22   0 non-null      float64
 23  Unnamed: 23   0 non-null      float64
 24  Unnamed: 24   0 non-null      float64
 25  Unnamed: 25   0 non-null      float64
 26  Unnamed: 26   0 non-null      float64
dtypes: float64(23), object(4)
memory usage: 28.2+ KB

In [4]:
# Now we have 4 columns but more information including job location is needed
student_df_3 = student_df_3[['Semester', 'Organization', 'Job Location', 'Job Title']]
student_df_3.head(3)

      Semester Organization Job Location                         Job Title
0  Summer 2021      Citadel          NaN  Data Management Technical Intern
1  Summer 2021        Adobe          NaN  2021 Intern-Data Science Analyst
2  Summer 2021   Prudential          NaN          Masters Summer Associate

In [5]:
# For career outcome datasets, clean columns and create 'Semester' column to make a same format 
student_df_4.head(3)

,Organization,Job Location,Job Title,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26
0,Vanguard,Philadelphia,Marketing Data Scientist,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,American Express,"New York, NY","Manager, Enterprise Digital Analytics",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Apple,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
student_df_4['Semester'] = 'Career(20-21)'

In [7]:
student_df_4 = student_df_4[['Semester', 'Organization', 'Job Location', 'Job Title']]
student_df_4.head(3)

,Semester,Organization,Job Location,Job Title
0,Career(20-21),Vanguard,Philadelphia,Marketing Data Scientist
1,Career(20-21),American Express,"New York, NY","Manager, Enterprise Digital Analytics"
2,Career(20-21),Apple,NaN,NaN

In [8]:
student_df_5['Semester'] = 'Career(19-20)'
student_df_6['Semester'] = 'Career(18-19)'

student_df_5 = student_df_5[['Semester', 'Organization', 'Job Location',  'Job Title']]
student_df_6 = student_df_6[['Semester', 'Organization', 'Job Location',  'Job Title']]

In [9]:
student_df_5.head(3)

        Semester Organization     Job Location                      Job Title
0  Career(19-20)       Amazon          Seattle  Software Development Engineer
1  Career(19-20)         Lyft              NYC                 Data Scientist
2  Career(19-20)       Amazon  Sunnyvale/CA/US              Software Engineer

In [10]:
student_df_6.head(3)

        Semester  Organization      Job Location                  Job Title
0  Career(18-19)         Apple            Austin  Machine Learning engineer
1  Career(18-19)  SurveyMonkey     San Mateo, CA             Data Scientist
2  Career(18-19)   WarnerMedia  New York, NY, US             Data scientist

In [11]:
# merge datasets as just adding rows 
career_merged = pd.concat([student_df_3, student_df_4, student_df_5, student_df_6] , ignore_index=True)

In [12]:
# Note: 
# summer internship dataset is merged dataset of 3 years 
# each career outcome contains about 30 rows

# Summer internship is sourced from CDS's course DS-GA 1009: Practical training
# if students don't enroll in this course, CDS cannot track internship results
# and this is why there isn't full data for every other students

# Career outcome is sourced by survey conducted by CDS
# It means that students may ignore or forgot to do the survey

print('student_df_3 length:', len(student_df_3))
print('student_df_4 length:', len(student_df_4))
print('student_df_5 length:', len(student_df_5))
print('student_df_6 length:', len(student_df_6))
print()
print('career_merged length:', len(career_merged))

student_df_3 length: 133
student_df_4 length: 34
student_df_5 length: 34
student_df_6 length: 21

career_merged length: 222

In [13]:
student_df_3['Semester'].value_counts().sort_index()

Summer 2019     58
Summer 2020     37
Summer 2021     38
Name: Semester, dtype: int64

## Adding more columns and deciding with null values to have a better visualization

In [14]:
# Even Organization is missing
career_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 222 entries, 0 to 221
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Semester      222 non-null    object
 1   Organization  221 non-null    object
 2   Job Location  174 non-null    object
 3   Job Title     216 non-null    object
dtypes: object(4)
memory usage: 7.1+ KB

In [15]:
# Checking duplicates: It makes sense for having duplicates (students might have same jobs)
career_merged[career_merged.duplicated()]

,Semester,Organization,Job Location,Job Title
8,Summer 2021,Citadel,NaN,Data Management Technical Intern
15,Summer 2021,Citadel,NaN,Data Management Technical Intern
27,Summer 2021,IBM CAO,NaN,DS Intern
40,Summer 2020,Amazon,"Seattle, WA",DS Intern
44,Summer 2020,Amazon,"Seattle, WA",DS Intern
58,Summer 2020,Apple,"Austin, TX",DS Intern
104,Summer 2019,IBM Chief Analytics Office,NY,DS Intern
105,Summer 2019,IBM Chief Analytics Office,NY,DS Intern
116,Summer 2019,Bombora,NY,DS Intern
130,Summer 2019,Expedia,WA,DS Intern

In [16]:
# We found that Semester 'Summer 2019' was actually including space
# So, convert 'Summer 2019 ' into 'Summer 2019'

career_merged['Semester'].replace('Summer 2019 ', 'Summer 2019', inplace=True)

In [18]:
# Checking Organization column, but we don't know this Organization at all
# Decided to remove this row
career_merged[career_merged['Organization'].isnull()]

          Semester Organization    Job Location           Job Title
173  Career(19-20)          NaN  Beijing, China  Algorithm Engineer

In [19]:
# droping row by calling index of given condition
del_row = career_merged[career_merged['Organization'].isnull()]
career_merged.drop(del_row.index, inplace=True)

In [20]:
career_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 221 entries, 0 to 221
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Semester      221 non-null    object
 1   Organization  221 non-null    object
 2   Job Location  173 non-null    object
 3   Job Title     215 non-null    object
dtypes: object(4)
memory usage: 8.6+ KB

In [21]:
# Organization column has some noise values, and those need to be cleaned. 
career_merged['Organization'].value_counts()

Amazon                  17
Apple                    8
Facebook                 8
Google                   7
Prudential Financial     5
                        ..
Bluehill USA Inc         1
Pluralsight Iris         1
Ernst & Young            1
Keps Capital             1
Kuai                     1
Name: Organization, Length: 137, dtype: int64

In [22]:
len(career_merged['Organization'].unique())

137

In [23]:
# Create a function that categorizes job title(cleaning some typos as well)
# DiDi, Fiedlity, IBM, JP Morgan, Kepos Capital, NYU, Oracle, PIMCO, Prudential
# Survey Monkey, Verisk, Zillow, Bombora

def org_clean(organization):
    
    if any(s in organization for s in ('DiDi', 'Didi')): organization = 'DiDi'
    elif 'Fidelity' in organization: organization = 'Fiedlity'    
    elif 'IB' in organization: organization = 'IBM'
    elif 'Morgan' in organization: organization = 'JP Morgan' 
    elif any(s in organization for s in ('Kepos', 'Keps')): organization = 'Kepos Capital'
    elif 'NYU' in organization: organization = 'NYU'    
    elif 'Oracle' in organization: organization = 'Oracle' 
    elif any(s in organization for s in ('Pimco', 'PIMCO')): organization = 'PIMCO'
    elif 'Zillow' in organization: organization = 'Zillow'
    elif 'Prudential' in organization: organization = 'Prudential'
    elif any(s in organization for s in ('Survey Monkey', 'SurveyMonkey')): organization = 'Survey Monkey' 
    elif 'Verisk' in organization: organization = 'Verisk'   
    elif 'Bombora' in organization: organization = 'Bombora'   
        
        
    return organization

career_merged['Organization_cleaned'] = career_merged['Organization'].apply(lambda x: org_clean(x))

In [24]:
len(career_merged['Organization_cleaned'].unique())

113

In [25]:
# Can't decide for job location
# But deleting rows will lose its statistic power
# therefore just convert into 'unidentified' for both rcolumns
career_merged['Job Location'].fillna('Unidentified', inplace=True)

In [26]:
# Same applies for Job Title
career_merged['Job Title'].fillna('Unidentified', inplace=True)

In [28]:
# Create a function that categorizes job title
# Categories as below: 'Intern: Data Science', 'Intern: Data Analytics', 'Intern: Others', 'Intern: Research', 
# 'Intern: Software Engineering', 'Intern: Data Engineering', 'Intern: Product Manager', 'Intern: Machine learning'
# 'Intern: Computer Vision'

def loc_cat(location):
    
    location = location.lower()
    
    if any(s in location for s in ('ma', 'boston')): location = 'MA'  
    elif any(s in location for s in ('va', 'boston')): location = 'VA'    
    elif any(s in location for s in ('ca', 'la', 'mountain', 'san jose', 'palo', 'san francisco', 'menlo park')): location = 'CA'   
    elif any(s in location for s in ('tx', 'austin')): location = 'TX'  
    elif any(s in location for s in ('wa', 'seattle')): location = 'WA'   
    elif any(s in location for s in ('nj', 'newark')): location = 'NJ'
    elif 'ct' in location: location = 'CT'
    elif 'co' in location: location = 'CO'
    elif 'pa' in location: location = 'PA'
    elif 'az' in location: location = 'AZ'    
    elif 'mn' in location: location = 'MN'    
    elif 'nm' in location: location = 'NM'
#     elif any(s in location for s in ('nyc', 'new york city')): location = 'NYC'
    elif any(s in location for s in ('ny', 'new york')): location = 'NYC'
    else: location = 'Others'        
        
    return location

career_merged['Location Category'] = career_merged['Job Location'].apply(lambda x: loc_cat(x))

In [30]:
# Create a function that categorizes job title
# Categories as below: 'Intern: Data Science', 'Intern: Data Analytics', 'Intern: Others', 'Intern: Research', 
# 'Intern: Software Engineering', 'Intern: Data Engineering', 'Intern: Product Manager', 'Intern: Machine learning'
# 'Intern: Computer Vision'

def job_cat_career(job_title):
    
    job_title = job_title.lower()
    
    if any(s in job_title for s in ('data sci', 'ds', 'applied', 'datascien')): job_title = 'Data Scientist'  
    elif 'quant' in job_title: job_title = 'Quantitiative Analyst' 
    elif any(s in job_title for s in ('analy', 'intelligence')): job_title = 'Data Analyst'   
    elif any(s in job_title for s in ('software', 'sde', 'web developer', 'media engineer')): job_title = 'Software Engineer'
    elif any(s in job_title for s in ('machine', 'vision')): job_title = 'Machine Learning Engineer'   
    elif any(s in job_title for s in ('data engineer', 'intelligence engineer', 'data management', 'data quality', 'cognitive engineer')): job_title = 'Data Engineer'     
    elif 'research' in job_title: job_title = 'Research Scientist' 
    elif any(s in job_title for s in ('product', 'manager', 'pm')): job_title = 'Product Manager'
    else: job_title = 'Others'
        
    return job_title

career_merged['Job Category'] = career_merged['Job Title'].apply(lambda x: job_cat_career(x))

In [32]:
# Creating more columns based on company: creating organization category, location(HQ), and employee size

company_cat = [
               ['AI Cure', 'Computer Software', 'NY', '51-200'],
               ['ASAPP', 'Computer Software', 'NY', '201-500'],
               ['Abphina', 'Research', 'NY', '11-50'],
               ['Adobe', 'Computer Software', 'CA', '10,001+'],
               ['AllazoHealth', 'Hospital & Health Care', 'NY', '11-50'],               
               ['Alpha Roc', 'Data Consulting', 'NJ', '11-50'],               
               ['Altman Vilandrie & Co', 'Management Consulting', 'MA', '201-500'],
               ['Altway', 'Wholesale', 'GA', '2-10'],
               ['Amazon', 'Internet', 'WA', '10,001+'],
               ['American Express', 'Financial Services', 'NY', '10,001+'],
               ['Amir Baradaran Studio', 'Computer Software', 'NY', '2-10'],
               ['Ansell Inc', 'Consumer Goods', 'NJ', '10,001+'],
               ['Apple', 'Consumer Electronics', 'CA', '10,001+'],
               ['Asana', 'Computer Software', 'CA', '1,001-5,000'],
               ['BMW', 'Automotive', 'CA', '10,001+'],
               ['BlackRock Inc', 'Financial Services', 'NY', '10,001+'],
               ['Blooomberg LP', 'Financial Services', 'NY', '10,001+'],
               ['Bluehill USA Inc', 'Financial Services', 'NY', '10,001+'],
               ['Boehringer Ingelheim', 'Pharmaceuticals', 'CT', '10,001+'],
               ['Bombora', 'Computer Software', 'NY', '51-200'],
               ['Cadent', 'Marketing & Advertising', 'NY', '201-500'],
               ['Capital One', 'Financial Services', 'VA', '10,001+'],
               ['Chan Zuckerberg Initiative', 'Philanthropy', 'CA', '201-500'],
               ['Chewy', 'Retail', 'FL', '10,001+'],             
               ['Citadel', 'Financial Services', 'IL', '1,001-5,000'],
               ['Citi', 'Financial Services', 'NY', '10,001+'],
               ['Cleveland Indians', 'Sports', 'OH', '51-200'],
               ['DE Shaw', 'Financial Services', 'NY', '1,001-5,000'],
               ['DataCamp', 'Online Learning', 'NY', '51-200'],
               ['DeepMagic', 'Computer Software', 'NY', '2-10'],
               ['DiDi', 'Internet', 'Beijing', '10,001+'],
               ['Digitas', 'Marketing & Advertising', 'MA', '1,001-5,000'],
               ['EXLService.com, LLC', 'Information Technology & Services', 'NY', '10,001+'],
               ['Epoch Investment Partners', 'Investment Management', 'NY', '51-200'],
               ['Ernst & Young', 'Accounting', 'London', '10,001+'],
               ['Expedia', 'Internet', 'WA', '10,001+'],
               ['Facebook', 'Internet', 'CA','10,001+'],
               ['FarFetch','Internet', 'NY', '5,001-10,000'],
               ['FedEx', 'Package/Freight Delivery', 'TN', '10,001+'],
               ['Fiedlity', 'Financial Services', 'MA', '10,001+'],
               ['Frontier Communications', 'Telecommunications', 'CT', '10,001+'],
               ['GEIRINA', 'Oil & Energy', 'CA', '11-50'],
               ['Google', 'Internet', 'CA', '10,001+'],
               ['HP', 'Information Technology & Services', 'CA', '10,001+'],
               ['Health First', 'Hospital & Health Care', 'FL', '5,001-10,000'],
               ['Hinge', 'Internet', 'NY', '51-200'],
               ['IBM', 'Information Technology & Services', 'NY', '10,001+'],
               ['Intercontinental Hotels Group', 'Hospitality', 'Denham', '10,001+'],
               ['JP Morgan', 'Financial Services', 'NY', '10,001+'],
               ['John Hancock Financials', 'Financial Services', 'MA', '10,001+'],
               ['Johnson Controls', 'Mechanical Or Industrial Engineering', 'Cork', '10,001+'],
               ['Johnson and Johnson', 'Hospital & Health Care', 'NJ', '10,001+'],
               ['Kayak Software Corporation', 'Internet', 'CT', '1,001-5,000'],
               ['Kepos Capital', 'Financial Services', 'NY', '11-50'],
               ['Kuai', 'Internet', 'Beijing', '10,001+'],
               ['Lampe Berger US', 'Consumer Goods', 'NJ', '11-50'],
               ['Linkedin', 'Internet', 'CA', '10,001+'],
               ['Los Angeles Dodgers', 'Sports', 'CA', '201-500'],
               ['Lyft', 'Internet', 'CA', '5,001-10,000'],
               ['MITRE', 'Information Technology & Services', 'VA', '5,001-10,000'],
               ['Microsoft', 'Computer Software', 'WA', '10,001+'],
               ['Mitre', 'Information Technology & Services', 'VA', '5,001-10,000'],
               ['MobilityWare', 'Computer Games', 'CA', '51-200'],
               ['NBCU', 'Marketing & Advertising', 'NY', '1,001-5,000'],
               ['NVIDIA', 'Computer Hardware', 'CA', '10,001+'],
               ['NYU', 'Univeristy', 'NY', '10,001+'],
               ['Neuberger Berman', 'Financial Services', 'NY', '1,001-5,000'],
               ['New York Life', 'Financial Services', 'NY', '10,001+'],
               ['Nokia', 'Telecommunications', 'NJ', '10,001+'],
               ['OSMO', 'Consumer Electronics', 'CA', '51-200'],
               ['Opswat, Inc.', 'Computer & Network Security', 'FL', '501-1,000'],
               ['Oracle', 'Information Technology & Services', 'TX', '10,001+'],
               ['PIMCO', 'Investment Management', 'CA', '1,001-5,000'],
               ['PepsiCo', 'Food & Beverages', 'NY', '10,001+'],
               ['Piano.IO', 'Information Technology & Services', 'PA', '501-1,000'],
               ['Pluralsight Iris', 'Information Technology & Services', 'UT', '1,001-5,000'],
               ['Point72', 'Financial Services', 'CT', '1,001-5,000'],
               ['Prudential', 'Financial Services', 'NJ', '10,001+'],
               ['PulsePoint', 'Marketing & Advertising', 'NY', '51-200'],
               ['Qualtrics XM', 'Think Tanks', 'MA', '1,001-5,000'],
               ['Roku', 'Entertainment', 'CA', '1,001-5,000'],
               ['RubiconMD Inc.', 'Information Technology & Services', 'NY', '11-50'],
               ['SAP', 'Computer Software', 'BW', '10,001+'],
               ['Sales Force', 'Human Resources', '', '2-10'],
               ['Samsung', 'Consumer Electronics', 'NJ', '1,001-5,000'],
               ['Seagate', 'Computer Hardware', 'CA', '10,001+'],
               ['Search Discovery', 'Management Consulting', 'GA', '51-200'],
               ['SenseBrain', 'Internet', 'CA', '11-50'],
               ['Shopee', 'Internet', 'Singapore', '5,001-10,000'],
               ['SimpleBet', 'Computer Software', 'NY', '51-200'],
               ['Sofi', 'Financial Services', 'CA', '1,001-5,000'],
               ['Software Tools Reviews', 'Information Services', 'CA', '2-10'],
               ['Spectrum Labs', 'Internet', 'CA', '11-50'],
               ['Survey Monkey', 'Market Research', 'CA', '1,001-5,000'],
               ['Swiss Re', 'Insurance', 'Zürich', '10,001+'], 
               ['Tandem Diabetes', 'Medical Device', 'CA', '1,001-5,000'],
               ['Tencent', 'Internet', 'Shenzhen', '10,001+'],
               ['Tesla', 'Automotive', 'CA', '10,001+'], 
               ['The Climate Corporation', 'Computer Software', 'CA', '501-1,000'],
               ['Travelers', 'Insurance', 'NY', '10,001+'],
               ['Trip Advisor', 'Internet', 'MA', '1,001-5,000'],
               ['Tu Simple', 'Computer Software', 'CA', '501-1,000'],
               ['US Army', 'Military', 'VA', '10,001+'],
               ['University of Wisconsin Foundation', 'Philanthropy', 'WI', '51-200'],
               ['Vanguard', 'Financial Services', 'PA', '10,001+'],
               ['Verisk', 'Information Services', 'NJ', '5,001-10,000'],
               ['Waldron', 'Human Resources', 'WA', '11-50'],
               ['WarnerMedia', 'Entertainment', 'NY', '10,001+'],
               ['Workforce Logiq (Audible)', 'Information Technology & Services', 'FL', '501-1,000'],
               ['ZS Associates', 'Management Consulting', 'IL', '10,001+'],
               ['Zillow', 'Real Estate', 'WA', '5,001-10,000'],
               ['Zurich', 'Insurance', 'IL', '10,001+'],
               ['eBay', 'Internet', 'CA', '10,001+']             
              ]

In [ ]:
intern_2021 = career_merged['Semester'] == 'Summer 2021'
intern_2020 = career_merged['Semester'] == 'Summer 2020'
intern_2019 = career_merged['Semester'] == 'Summer 2019'

len(career_merged[(intern_2021 | intern_2020 | intern_2019)])

In [ ]:
summer_intern = career_merged[(intern_2021 | intern_2020 | intern_2019)]
len(summer_intern['Job Title'].sort_values().unique())

In [ ]:
# Need to categorize Job title since there are quite a lot unique values
summer_intern['Job Title'].sort_values().unique()

In [ ]:
# Create a function that categorizes job title
# Categories as below: 'Intern: Data Science', 'Intern: Data Analytics', 'Intern: Others', 'Intern: Research', 
# 'Intern: Software Engineering', 'Intern: Data Engineering', 'Intern: Product Manager', 'Intern: Machine learning'
# 'Intern: Computer Vision'

def job_cat_intern(job_title):
    
    job_title = job_title.lower()
    
    if any(s in job_title for s in ('data sci', 'ds', 'applied', 'datascien')): job_title = 'Data Scientist'  
    elif 'quant' in job_title: job_title = 'Quantitiative Analyst' 
    elif any(s in job_title for s in ('analy', 'intelligence')): job_title = 'Data Analyst'   
    elif any(s in job_title for s in ('software', 'sde', 'web developer', 'media engineer')): job_title = 'Software Engineer'
    elif any(s in job_title for s in ('machine', 'vision')): job_title = 'Machine Learning Engineer'   
    elif any(s in job_title for s in ('data engineer', 'intelligence engineer', 'data management', 'data quality', 'cognitive engineer')): job_title = 'Data Engineer'     
    elif 'research' in job_title: job_title = 'Research Scientist' 
    elif any(s in job_title for s in ('product', 'manager', 'pm')): job_title = 'Product Manager'
    else: job_title = 'Others'
        
    return job_title
    
summer_intern['Job Category'] = summer_intern['Job Title'].apply(lambda x: job_cat_intern(x))

In [ ]:
summer_intern['Job Category'].value_counts()

In [ ]:
# Do same as career outcomes

career_20_21 = career_merged['Semester'] == 'Career(20-21)'
career_19_20 = career_merged['Semester'] == 'Career(19-20)'
career_18_19 = career_merged['Semester'] == 'Career(18-19)'

career_outcome = career_merged[(career_20_21 | career_19_20 | career_18_19)]
len(career_outcome['Job Title'].sort_values().unique())

In [ ]:
# Need to categorize Job title since there are quite a lot unique values
career_outcome['Job Title'].sort_values().unique()

In [ ]:
# Create a function that categorizes job title
# Categories as below: 'Intern: Data Science', 'Intern: Data Analytics', 'Intern: Others', 'Intern: Research', 
# 'Intern: Software Engineering', 'Intern: Data Engineering', 'Intern: Product Manager', 'Intern: Machine learning'
# 'Intern: Computer Vision'

def job_cat_career(job_title):
    
    job_title = job_title.lower()
    
    if any(s in job_title for s in ('data sci', 'ds', 'applied', 'datascien')): job_title = 'Data Scientist'  
    elif 'quant' in job_title: job_title = 'Quantitiative Analyst' 
    elif any(s in job_title for s in ('analy', 'intelligence')): job_title = 'Data Analyst'   
    elif any(s in job_title for s in ('software', 'sde', 'web developer', 'media engineer')): job_title = 'Software Engineer'
    elif any(s in job_title for s in ('machine', 'vision')): job_title = 'Machine Learning Engineer'   
    elif any(s in job_title for s in ('data engineer', 'intelligence engineer', 'data management', 'data quality', 'cognitive engineer')): job_title = 'Data Engineer'     
    elif 'research' in job_title: job_title = 'Research Scientist' 
    elif any(s in job_title for s in ('product', 'manager', 'pm')): job_title = 'Product Manager'
    else: job_title = 'Others'
        
    return job_title

career_outcome['Job Category'] = career_outcome['Job Title'].apply(lambda x: job_cat_career(x))

In [ ]:
career_outcome['Job Category'].value_counts()

In [ ]:
# merge datasets as just adding rows 
career_merged_f = pd.concat([summer_intern, career_outcome] , ignore_index=True)

In [ ]:
career_merged_f.head(3)

In [ ]:
# Create a function that categorizes job title
# Categories as below: 'Intern: Data Science', 'Intern: Data Analytics', 'Intern: Others', 'Intern: Research', 
# 'Intern: Software Engineering', 'Intern: Data Engineering', 'Intern: Product Manager', 'Intern: Machine learning'
# 'Intern: Computer Vision'

def loc_cat(location):
    
    location = location.lower()
    
    if any(s in location for s in ('ma', 'boston')): location = 'MA'  
    elif any(s in location for s in ('va', 'boston')): location = 'VA'    
    elif any(s in location for s in ('ca', 'la', 'mountain', 'san jose', 'palo', 'san francisco', 'menlo park')): location = 'CA'   
    elif any(s in location for s in ('tx', 'austin')): location = 'TX'  
    elif any(s in location for s in ('wa', 'seattle')): location = 'WA'   
    elif any(s in location for s in ('nj', 'newark')): location = 'NJ'
    elif 'ct' in location: location = 'CT'
    elif 'co' in location: location = 'CO'
    elif 'pa' in location: location = 'PA'
    elif 'az' in location: location = 'AZ'    
    elif 'mn' in location: location = 'MN'    
    elif 'nm' in location: location = 'NM'
#     elif any(s in location for s in ('nyc', 'new york city')): location = 'NYC'
    elif any(s in location for s in ('ny', 'new york')): location = 'NY'
    else: location = 'Others'        
        
    return location

career_merged_f['Location Category'] = career_merged_f['Job Location'].apply(lambda x: loc_cat(x))

In [ ]:
career_merged_f['Location Category'].value_counts()

In [ ]:
career_merged_f[career_merged_f['Location Category'] == 'NY']

In [ ]:
# Even for Organization, there needs some categorization
# i.e. IBM offices can be categorized as IBM

career_merged_f['Organization'].sort_values().unique()

In [ ]:
len(career_merged_f['Organization'].sort_values().unique())

In [ ]:
# Checking weird data in organization
career_merged_f[career_merged_f['Organization'] == 'IB<']

In [ ]:
# Create a function that categorizes job title(cleaning some typos as well)
# DiDi, Fiedlity, IBM, JP Morgan, Kepos Capital, NYU, Oracle, PIMCO, Prudential
# Survey Monkey, Verisk, Zillow, Bombora

def org_clean(organization):
    
    if any(s in organization for s in ('DiDi', 'Didi')): organization = 'DiDi'
    elif 'Fidelity' in organization: organization = 'Fiedlity'    
    elif 'IB' in organization: organization = 'IBM'
    elif 'Morgan' in organization: organization = 'JP Morgan' 
    elif any(s in organization for s in ('Kepos', 'Keps')): organization = 'Kepos Capital'
    elif 'NYU' in organization: organization = 'NYU'    
    elif 'Oracle' in organization: organization = 'Oracle' 
    elif any(s in organization for s in ('Pimco', 'PIMCO')): organization = 'PIMCO'
    elif 'Zillow' in organization: organization = 'Zillow'
    elif 'Prudential' in organization: organization = 'Prudential'
    elif any(s in organization for s in ('Survey Monkey', 'SurveyMonkey')): organization = 'Survey Monkey' 
    elif 'Verisk' in organization: organization = 'Verisk'   
    elif 'Bombora' in organization: organization = 'Bombora'   
        
        
    return organization

career_merged_f['Organization_cleaned'] = career_merged_f['Organization'].apply(lambda x: org_clean(x))

In [ ]:
career_merged_f['Organization_cleaned'].sort_values(ascending=True).unique()

In [ ]:
len(career_merged_f['Organization_cleaned'].sort_values(ascending=True).unique())

In [ ]:
career_merged_f

In [ ]:
# Checking weird data in organization
career_merged_f[career_merged_f['Organization'] == 'BMW']

In [ ]:
# Cannot find in Linkedin: Sense Brain


company_cat = [
               ['AI Cure', 'Computer Software', 'NY', '51-200'],
               ['ASAPP', 'Computer Software', 'NY', '201-500'],
               ['Abphina', 'Research', 'NY', '11-50'],
               ['Adobe', 'Computer Software', 'CA', '10,001+'],
               ['AllazoHealth', 'Hospital & Health Care', 'NY', '11-50'],               
               ['Alpha Roc', 'Data Consulting', 'NJ', '11-50'],               
               ['Altman Vilandrie & Co', 'Management Consulting', 'MA', '201-500'],
               ['Altway', 'Wholesale', 'GA', '2-10'],
               ['Amazon', 'Internet', 'WA', '10,001+'],
               ['American Express', 'Financial Services', 'NY', '10,001+'],
               ['Amir Baradaran Studio', 'Computer Software', 'NY', '2-10'],
               ['Ansell Inc', 'Consumer Goods', 'NJ', '10,001+'],
               ['Apple', 'Consumer Electronics', 'CA', '10,001+'],
               ['Asana', 'Computer Software', 'CA', '1,001-5,000'],
               ['BMW', 'Automotive', 'CA', '10,001+'],
               ['BlackRock Inc', 'Financial Services', 'NY', '10,001+'],
               ['Blooomberg LP', 'Financial Services', 'NY', '10,001+'],
               ['Bluehill USA Inc', 'Financial Services', 'NY', '10,001+'],
               ['Boehringer Ingelheim', 'Pharmaceuticals', 'CT', '10,001+'],
               ['Bombora', 'Computer Software', 'NY', '51-200'],
               ['Cadent', 'Marketing & Advertising', 'NY', '201-500'],
               ['Capital One', 'Financial Services', 'VA', '10,001+'],
               ['Chan Zuckerberg Initiative', 'Philanthropy', 'CA', '201-500'],
               ['Chewy', 'Retail', 'FL', '10,001+'],             
               ['Citadel', 'Financial Services', 'IL', '1,001-5,000'],
               ['Citi', 'Financial Services', 'NY', '10,001+'],
               ['Cleveland Indians', 'Sports', 'OH', '51-200'],
               ['DE Shaw', 'Financial Services', 'NY', '1,001-5,000'],
               ['DataCamp', 'Online Learning', 'NY', '51-200'],
               ['DeepMagic', 'Computer Software', 'NY', '2-10'],
               ['DiDi', 'Internet', 'Beijing', '10,001+'],
               ['Digitas', 'Marketing & Advertising', 'MA', '1,001-5,000'],
               ['EXLService.com, LLC', 'Information Technology & Services', 'NY', '10,001+'],
               ['Epoch Investment Partners', 'Investment Management', 'NY', '51-200'],
               ['Ernst & Young', 'Accounting', 'London', '10,001+'],
               ['Expedia', 'Internet', 'WA', '10,001+'],
               ['Facebook', 'Internet', 'CA','10,001+'],
               ['FarFetch','Internet', 'NY', '5,001-10,000'],
               ['FedEx', 'Package/Freight Delivery', 'TN', '10,001+'],
               ['Fiedlity', 'Financial Services', 'MA', '10,001+'],
               ['Frontier Communications', 'Telecommunications', 'CT', '10,001+'],
               ['GEIRINA', 'Oil & Energy', 'CA', '11-50'],
               ['Google', 'Internet', 'CA', '10,001+'],
               ['HP', 'Information Technology & Services', 'CA', '10,001+'],
               ['Health First', 'Hospital & Health Care', 'FL', '5,001-10,000'],
               ['Hinge', 'Internet', 'NY', '51-200'],
               ['IBM', 'Information Technology & Services', 'NY', '10,001+'],
               ['Intercontinental Hotels Group', 'Hospitality', 'Denham', '10,001+'],
               ['JP Morgan', 'Financial Services', 'NY', '10,001+'],
               ['John Hancock Financials', 'Financial Services', 'MA', '10,001+'],
               ['Johnson Controls', 'Mechanical Or Industrial Engineering', 'Cork', '10,001+'],
               ['Johnson and Johnson', 'Hospital & Health Care', 'NJ', '10,001+'],
               ['Kayak Software Corporation', 'Internet', 'CT', '1,001-5,000'],
               ['Kepos Capital', 'Financial Services', 'NY', '11-50'],
               ['Kuai', 'Internet', 'Beijing', '10,001+'],
               ['Lampe Berger US', 'Consumer Goods', 'NJ', '11-50'],
               ['Linkedin', 'Internet', 'CA', '10,001+'],
               ['Los Angeles Dodgers', 'Sports', 'CA', '201-500'],
               ['Lyft', 'Internet', 'CA', '5,001-10,000'],
               ['MITRE', 'Information Technology & Services', 'VA', '5,001-10,000'],
               ['Microsoft', 'Computer Software', 'WA', '10,001+'],
               ['Mitre', 'Information Technology & Services', 'VA', '5,001-10,000'],
               ['MobilityWare', 'Computer Games', 'CA', '51-200'],
               ['NBCU', 'Marketing & Advertising', 'NY', '1,001-5,000'],
               ['NVIDIA', 'Computer Hardware', 'CA', '10,001+'],
               ['NYU', 'Univeristy', 'NY', '10,001+'],
               ['Neuberger Berman', 'Financial Services', 'NY', '1,001-5,000'],
               ['New York Life', 'Financial Services', 'NY', '10,001+'],
               ['Nokia', 'Telecommunications', 'NJ', '10,001+'],
               ['OSMO', 'Consumer Electronics', 'CA', '51-200'],
               ['Opswat, Inc.', 'Computer & Network Security', 'FL', '501-1,000'],
               ['Oracle', 'Information Technology & Services', 'TX', '10,001+'],
               ['PIMCO', 'Investment Management', 'CA', '1,001-5,000'],
               ['PepsiCo', 'Food & Beverages', 'NY', '10,001+'],
               ['Piano.IO', 'Information Technology & Services', 'PA', '501-1,000'],
               ['Pluralsight Iris', 'Information Technology & Services', 'UT', '1,001-5,000'],
               ['Point72', 'Financial Services', 'CT', '1,001-5,000'],
               ['Prudential', 'Financial Services', 'NJ', '10,001+'],
               ['PulsePoint', 'Marketing & Advertising', 'NY', '51-200'],
               ['Qualtrics XM', 'Think Tanks', 'MA', '1,001-5,000'],
               ['Roku', 'Entertainment', 'CA', '1,001-5,000'],
               ['RubiconMD Inc.', 'Information Technology & Services', 'NY', '11-50'],
               ['SAP', 'Computer Software', 'BW', '10,001+'],
               ['Sales Force', 'Human Resources', '', '2-10'],
               ['Samsung', 'Consumer Electronics', 'NJ', '1,001-5,000'],
               ['Seagate', 'Computer Hardware', 'CA', '10,001+'],
               ['Search Discovery', 'Management Consulting', 'GA', '51-200'],
               ['SenseBrain', 'Internet', 'CA', '11-50'],
               ['Shopee', 'Internet', 'Singapore', '5,001-10,000'],
               ['SimpleBet', 'Computer Software', 'NY', '51-200'],
               ['Sofi', 'Financial Services', 'CA', '1,001-5,000'],
               ['Software Tools Reviews', 'Information Services', 'CA', '2-10'],
               ['Spectrum Labs', 'Internet', 'CA', '11-50'],
               ['Survey Monkey', 'Market Research', 'CA', '1,001-5,000'],
               ['Swiss Re', 'Insurance', 'Zürich', '10,001+'], 
               ['Tandem Diabetes', 'Medical Device', 'CA', '1,001-5,000'],
               ['Tencent', 'Internet', 'Shenzhen', '10,001+'],
               ['Tesla', 'Automotive', 'CA', '10,001+'], 
               ['The Climate Corporation', 'Computer Software', 'CA', '501-1,000'],
               ['Travelers', 'Insurance', 'NY', '10,001+'],
               ['Trip Advisor', 'Internet', 'MA', '1,001-5,000'],
               ['Tu Simple', 'Computer Software', 'CA', '501-1,000'],
               ['US Army', 'Military', 'VA', '10,001+'],
               ['University of Wisconsin Foundation', 'Philanthropy', 'WI', '51-200'],
               ['Vanguard', 'Financial Services', 'PA', '10,001+'],
               ['Verisk', 'Information Services', 'NJ', '5,001-10,000'],
               ['Waldron', 'Human Resources', 'WA', '11-50'],
               ['WarnerMedia', 'Entertainment', 'NY', '10,001+'],
               ['Workforce Logiq (Audible)', 'Information Technology & Services', 'FL', '501-1,000'],
               ['ZS Associates', 'Management Consulting', 'IL', '10,001+'],
               ['Zillow', 'Real Estate', 'WA', '5,001-10,000'],
               ['Zurich', 'Insurance', 'IL', '10,001+'],
               ['eBay', 'Internet', 'CA', '10,001+']             
              ]

In [ ]:
company_list = pd.DataFrame(company_cat, columns = ['Organization_cleaned','Industry', 'HQ_Loc_1', 'Company_size'])

In [ ]:
career_merged_ff = pd.merge(career_merged_f, company_list, on='Organization_cleaned')

In [ ]:
career_merged_ff.info()

In [ ]:
career_merged_ff.head(3)

In [ ]:
career_merged_ff['Final_loc'] = career_merged_ff.apply(lambda x: x['Location Category'] if x['Location Category']\
                                                       != 'Others' else x['HQ_Loc_1'], axis=1)

In [ ]:
career_merged_ff['Final_loc'].value_counts()

In [ ]:
career_merged_ff['Industry'].value_counts()

In [ ]:
# Create a function that categorizes industry
# Based on 'Global Industry Classification Standard'
# https://en.wikipedia.org/wiki/Global_Industry_Classification_Standard
# • Energy
# • Materials
# • Industrials
# • Consumer Discretionary
# • Consumer Staples
# • Health Care
# • Financials
# • Information Technology
# • Communication Services
# • Utilities
# • Real Estate

def ind_cat(industry):
       
    if any(s in industry for s in ('Internet', 'Information', 'Computer', 'Data Consulting')): industry = 'Information Technology'
    elif any(s in industry for s in ('Financial Services', 'Accounting', 'Insurance', 'Investment')): industry = 'Financials'
    elif any(s in industry for s in ('Consumer Electronics', 'Univeristy', 'Automotive', 'Retail', 'Wholesale', 'Learning')): industry = 'Consumer Discretionary'
    elif any(s in industry for s in ('Advertising', 'Telecommunications', 'Sports', 'Entertainment')): industry = 'Communication Services'    
    elif 'Real Estate' in industry: industry = 'Real Estate'
    elif any(s in industry for s in ('Health', 'Pharmaceuticals', 'Medical', 'Hospitality')): industry = 'Health Care'      
    elif any(s in industry for s in ('Food', 'Consumer Goods')): industry = 'Consumer Staples'  
    elif any(s in industry for s in ('Engineering', 'Delivery', 'Human Resources', 'Research', 'Management Consulting', 'Military')): industry = 'Industrials' 
    elif 'Energy' in industry: industry = 'Energy'
    elif any(s in industry for s in ('Philanthropy', 'Think Tanks')): industry = 'Non-profit organization'      
     
    return industry

career_merged_ff['Industry_category'] = career_merged_ff['Industry'].sort_values().apply(lambda x: ind_cat(x))

In [ ]:
career_merged_ff['Industry_category'].value_counts()

In [ ]:
career_merged_ff['Company_size'].value_counts()

In [ ]:
career_merged_ff[career_merged_ff['Organization'] == 'BMW']

In [ ]:
career_merged_fff = career_merged_ff[['Semester', 'Organization_cleaned', 'Industry_category', 'Company_size', 'Final_loc', 'Job Category']]
career_merged_fff.head(3)

In [ ]:
career_merged_fff[career_merged_fff['Final_loc'] == 'Munich']

In [ ]:
career_merged_fff.to_excel('./career_final.xlsx', index=False)

## Visualization

In [ ]:
career_merged_fff['Semester'].value_counts()

In [ ]:
summer_2021 = career_merged_fff['Semester'] == 'Summer 2021'
summer_2020 = career_merged_fff['Semester'] == 'Summer 2020'
summer_2019 = career_merged_fff['Semester'] == 'Summer 2019'
career_20_21 = career_merged_fff['Semester'] == 'Career(20-21)'
career_19_20 = career_merged_fff['Semester'] == 'Career(19-20)'
career_18_19 = career_merged_fff['Semester'] == 'Career(18-19)'

career_intern = career_merged_fff[summer_2021 | summer_2020 | summer_2019]
career_fulltime = career_merged_fff[career_20_21 | career_19_20 | career_18_19]

career_intern_2021 = career_merged_fff[summer_2021]
career_intern_2020 = career_merged_fff[summer_2020]
career_intern_2019 = career_merged_fff[summer_2019]

career_fulltime_20_21 = career_merged_fff[career_20_21]
career_fulltime_19_20 = career_merged_fff[career_19_20]
career_fulltime_18_19 = career_merged_fff[career_18_19]

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

plt.style.use('seaborn')
sns.set(font_scale=2.5)

#ignore warnings
import warnings
warnings.filterwarnings('ignore')

summer_ind_cat_2019 = career_intern_2019['Industry_category'].value_counts().sort_values(ascending=False)
summer_ind_cat_2020 = career_intern_2020['Industry_category'].value_counts().sort_values(ascending=False)
summer_ind_cat_2021 = career_intern_2021['Industry_category'].value_counts().sort_values(ascending=False)


fig, ax = plt.subplots(nrows=1, ncols=3, figsize=(50,16))

ax[0].set_title('Summer_ind_cat_2019', pad=60, fontdict = {'fontsize': 60})
ax[1].set_title('Summer_ind_cat_2020', pad=60, fontdict = {'fontsize': 60})
ax[2].set_title('Summer_ind_cat_2021', pad=60, fontdict = {'fontsize': 60})

ax[0].pie(summer_ind_cat_2019, labels = summer_ind_cat_2019.index, autopct='%.1f%%', radius=1.1, textprops={'fontsize': 30})
ax[1].pie(summer_ind_cat_2020, labels = summer_ind_cat_2020.index, autopct='%.1f%%', radius=1.1, textprops={'fontsize': 30})
ax[2].pie(summer_ind_cat_2021, labels = summer_ind_cat_2021.index, autopct='%.1f%%', radius=1.1, textprops={'fontsize': 30})

plt.show()

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

plt.style.use('seaborn')
sns.set(font_scale=2.5)

#ignore warnings
import warnings
warnings.filterwarnings('ignore')

summer_ind_cat_2019 = career_intern_2019['Final_loc'].value_counts().sort_values(ascending=False)
summer_ind_cat_2020 = career_intern_2020['Final_loc'].value_counts().sort_values(ascending=False)
summer_ind_cat_2021 = career_intern_2021['Final_loc'].value_counts().sort_values(ascending=False)


fig, ax = plt.subplots(nrows=1, ncols=3, figsize=(50,16))

ax[0].set_title('Summer_Loc_2019', pad=60, fontdict = {'fontsize': 60})
ax[1].set_title('Summer_Loc_2020', pad=60, fontdict = {'fontsize': 60})
ax[2].set_title('Summer_Loc_2021', pad=60, fontdict = {'fontsize': 60})

ax[0].pie(summer_ind_cat_2019, labels = summer_ind_cat_2019.index, autopct='%.1f%%', radius=1.1, textprops={'fontsize': 35})
ax[1].pie(summer_ind_cat_2020, labels = summer_ind_cat_2020.index, autopct='%.1f%%', radius=1.1, textprops={'fontsize': 35})
ax[2].pie(summer_ind_cat_2021, labels = summer_ind_cat_2021.index, autopct='%.1f%%', radius=1.1, textprops={'fontsize': 35})

plt.show()

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

plt.style.use('seaborn')
sns.set(font_scale=2.5)

#ignore warnings
import warnings
warnings.filterwarnings('ignore')

summer_ind_cat_2019 = career_intern_2019['Company_size'].value_counts().sort_values(ascending=False)
summer_ind_cat_2020 = career_intern_2020['Company_size'].value_counts().sort_values(ascending=False)
summer_ind_cat_2021 = career_intern_2021['Company_size'].value_counts().sort_values(ascending=False)


fig, ax = plt.subplots(nrows=1, ncols=3, figsize=(50,16))

ax[0].set_title('Summer_Size_2019', pad=60, fontdict = {'fontsize': 60})
ax[1].set_title('Summer_Size_2020', pad=60, fontdict = {'fontsize': 60})
ax[2].set_title('Summer_Size_2021', pad=60, fontdict = {'fontsize': 60})

ax[0].pie(summer_ind_cat_2019, labels = summer_ind_cat_2019.index, autopct='%.1f%%', radius=1.1, textprops={'fontsize': 35})
ax[1].pie(summer_ind_cat_2020, labels = summer_ind_cat_2020.index, autopct='%.1f%%', radius=1.1, textprops={'fontsize': 35})
ax[2].pie(summer_ind_cat_2021, labels = summer_ind_cat_2021.index, autopct='%.1f%%', radius=1.1, textprops={'fontsize': 35})

plt.show()

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

plt.style.use('seaborn')
sns.set(font_scale=2.5)

#ignore warnings
import warnings
warnings.filterwarnings('ignore')

summer_ind_cat_2019 = career_intern['Industry_category'].value_counts().sort_values(ascending=False)
summer_ind_cat_2020 = career_intern['Final_loc'].value_counts().sort_values(ascending=False)
summer_ind_cat_2021 = career_intern['Company_size'].value_counts().sort_values(ascending=False)


fig, ax = plt.subplots(nrows=1, ncols=3, figsize=(50,16))

ax[0].set_title('Summer_total_ind', pad=60, fontdict = {'fontsize': 60})
ax[1].set_title('Summer_total_loc', pad=60, fontdict = {'fontsize': 60})
ax[2].set_title('Summer_total_size', pad=60, fontdict = {'fontsize': 60})

ax[0].pie(summer_ind_cat_2019, labels = summer_ind_cat_2019.index, autopct='%.1f%%', radius=1.1, textprops={'fontsize': 35})
ax[1].pie(summer_ind_cat_2020, labels = summer_ind_cat_2020.index, autopct='%.1f%%', radius=1.1, textprops={'fontsize': 35})
ax[2].pie(summer_ind_cat_2021, labels = summer_ind_cat_2021.index, autopct='%.1f%%', radius=1.1, textprops={'fontsize': 35})

plt.show()

In [ ]:
---end

In [ ]:
student_df_0.head(3)

In [ ]:
student_df_0.drop(['Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', \
                    'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19'], axis = 1, inplace = True)

In [ ]:
student_df_0['MS_Enrolled'] = '2021_2022'

In [ ]:
student_df_0.head(3)

In [ ]:
# It has 308 data with 12 columns
# each has some null values, so you need to decide what to do with null value 
# Foreign Cit: null-values can be substituted as 'others'
student_df_0.info()

In [ ]:
for column in student_df_0.columns:
    print(column, '\n', student_df_0[column].value_counts().sort_index(ascending=False), '\n')

In [ ]:
student_df_0['Legal Sex'].value_counts()

In [ ]:
# Legal Sex: We have about 56% of male and 44% of female
male = student_df_0['Legal Sex'][student_df_0['Legal Sex'] == 'M'].count()
female = student_df_0['Legal Sex'][student_df_0['Legal Sex'] == 'F'].count()

print('Male percentage is: {0:.2f}%'.format(male / student_df_0['Legal Sex'].count() * 100))
print('Female percentage is: {0:.2f}%'.format(female / student_df_0['Legal Sex'].count() * 100))

In [ ]:
# 1 = US Citizen, 3 = US Permanent Resident, 4 = Foreign Citizen (not a US Citizen) 
student_df_0['US Cit Stat'].value_counts()

In [ ]:
# US Citizen status: We have about 40% of us citizen(including permanent resident) and 60% of foreign citizen
US_citizen = student_df_0['US Cit Stat'][student_df_0['US Cit Stat'] == 1].count()
US_permanent = student_df_0['US Cit Stat'][student_df_0['US Cit Stat'] == 3].count()
Foreign_citizen = student_df_0['US Cit Stat'][student_df_0['US Cit Stat'] == 4].count()

print('US_citizen percentage is: {0:.2f}%'.format(US_citizen / student_df_0['US Cit Stat'].count() * 100))
print('US_permanent percentage is: {0:.2f}%'.format(US_permanent / student_df_0['US Cit Stat'].count() * 100))
print('Foreign_citizen percentage is: {0:.2f}%'.format(Foreign_citizen / student_df_0['US Cit Stat'].count() * 100))

In [ ]:
# Foreign city: This dataset was divided by china, india, and others
# So, it makes sense that filling n/a with OTHER
student_df_0['Foreign Cit'].value_counts()

In [ ]:
student_df_0['Foreign Cit'].fillna('USA', inplace=True)

In [ ]:
student_df_0['Foreign Cit'].value_counts()

In [ ]:
# Undergraduate GPA: undergrad gpa has some missing values
# Also, with some different number range (i.e: India has gpa range of 10)
# We will assume that 4.0 as a standard GPA

# We've checked some outliers and convert each by rules
# 1. if gpa is ~4.00, then keep its value
# 2. if gpa is 4.00 ~ 5.00, then assume scores of 5.0 scaling, and convert as x =  x /5.0 * 4.0
# 3. if gpa is 5.00 ~ 10.00, then assume scores of 10.0 scaling, and convert as x = x /10.0 * 4.0
# 4. if gpa is 50.00~, then assume scores of 100 percentile, and convert as x = x / 100 * 4.0
# 5. if gpa is other than this range, something might have been wrong, check and decide by each rows

# Create a function that converts gpa to 4.0 scale
def convert_gpa(gpa):
    
    if gpa <= 4.00: pass
    elif gpa > 4.00 and gpa <= 5.00: gpa = gpa / 5.0 * 4.0
    elif gpa > 5.00 and gpa <= 10.00: gpa = gpa / 10.0 * 4.0
    elif gpa >= 50.00: gpa = gpa / 100 * 4.0
    else:
        gpa = 0.00
        print('needs to check!')
        pass    
    
    return gpa

student_df_0['gpa_scaled'] = student_df_0['Undergraduate GPA'].apply(lambda x: convert_gpa(x))

In [ ]:
# now we conver 0.00 and null values info mean value
# student_df_0['gpa_scaled'].fillna(student_df_0['gpa_scaled'].mean(), inplace=True)
# student_df_0['gpa_scaled'].replace(0.00, student_df_0['gpa_scaled'].mean(), inplace=True)
# student_df_0['gpa_scaled'] = round(student_df_0['gpa_scaled'],2)

def fill_gpa(df_scaled_gpa):    
    df_scaled_gpa.fillna(df_scaled_gpa.mean(), inplace=True)
    df_scaled_gpa.replace(0.00, df_scaled_gpa.mean(), inplace=True)
    df_scaled_gpa = round(df_scaled_gpa, 2)
    
    return df_scaled_gpa

student_df_0['gpa_scaled'] = fill_gpa(student_df_0['gpa_scaled'])
student_df_0['gpa_scaled'].value_counts().sort_index()

In [ ]:
# TOEFL scores have same scaling, but this has lots of null values
# Since it is not required for domestic students, I won't be using this column in analysis
# But I'll be using some statistics

print('null values:', student_df_0['TOEFL'].isnull().sum())
print('not null values:', student_df_0['TOEFL'].notnull().sum())
print()
print(student_df_0['TOEFL'].value_counts().sort_index(ascending=False))
print()
print('Mean TOEFL score:', round(student_df_0['TOEFL'].mean()))
print('Median TOEFL score:', round(student_df_0['TOEFL'].median()))
print('Std TOEFL score:', round(student_df_0['TOEFL'].std()))

In [ ]:
# For GRE scores, we have 4 missing values
# We will be converting those into mean values

def fill_na_general(df):
    
    df.fillna(round(df.mean()), inplace = True)
        
    return df
    
    
general_columns = ['Q', 'Q%', 'V', 'V%', 'W', 'W%']

for column in general_columns:
    fill_na_general(student_df_0[column])

In [ ]:
student_df_0.isnull().sum()

## Statistics

In [ ]:
## total mean value
print('*Total:')
print('Toefl Score')
print('Mean:', round(np.mean(student_df_0['TOEFL'])))
print('Std:', round(np.std(student_df_0['TOEFL'])))
print()

print('GRE: Quant Score')
print('Mean:',round(np.mean(student_df_0['Q']),2))
print('Median:',round(np.median(student_df_0['Q']),2))
print('Std:',round(np.std(student_df_0['Q']),2))
print()

print('GRE: Verbal Score')
print('Mean:',round(np.mean(student_df_0['V']),2))
print('Median:',round(np.median(student_df_0['V']),2))
print('Std:',round(np.std(student_df_0['V']),2))
print()

print('GRE: Writing Score')
print('Mean:',round(np.mean(student_df_0['W']),2))
print('Median:',round(np.median(student_df_0['W']),2))
print('Std:',round(np.std(student_df_0['W']),2))
print()

print('GPA(Scaled)')
print('Mean:',round(np.mean(student_df_0['gpa_scaled']),2))
print('Median:',round(np.median(student_df_0['gpa_scaled']),2))
print('Std:',round(np.std(student_df_0['gpa_scaled']),2))
print()

In [ ]:
## statistics by gender mean value
print('*Total:')
print('Toefl Score')
print('Mean(M):', round(np.mean(student_df_0['TOEFL'][student_df_0['Legal Sex']=='M'])))
print('Std(M):', round(np.std(student_df_0['TOEFL'][student_df_0['Legal Sex']=='M'])))
print()

print('Mean(F):', round(np.mean(student_df_0['TOEFL'][student_df_0['Legal Sex']=='F'])))
print('Std(F):', round(np.std(student_df_0['TOEFL'][student_df_0['Legal Sex']=='F'])))
print()


print('GRE: Quant Score')
print('Mean(M):',round(np.mean(student_df_0['Q'][student_df_0['Legal Sex']=='M']),2))
print('Median(M):',round(np.median(student_df_0['Q'][student_df_0['Legal Sex']=='M']),2))
print('Std(M):',round(np.std(student_df_0['Q'][student_df_0['Legal Sex']=='M']),2))
print()

print('Mean(F):',round(np.mean(student_df_0['Q'][student_df_0['Legal Sex']=='F']),2))
print('Median(F):',round(np.median(student_df_0['Q'][student_df_0['Legal Sex']=='F']),2))
print('Std(F):',round(np.std(student_df_0['Q'][student_df_0['Legal Sex']=='F']),2))
print()


print('GRE: Verbal Score')
print('Mean(M):',round(np.mean(student_df_0['V'][student_df_0['Legal Sex']=='M']),2))
print('Median(M):',round(np.median(student_df_0['V'][student_df_0['Legal Sex']=='M']),2))
print('Std(M):',round(np.std(student_df_0['V'][student_df_0['Legal Sex']=='M']),2))
print()

print('Mean(F):',round(np.mean(student_df_0['V'][student_df_0['Legal Sex']=='F']),2))
print('Median(F):',round(np.median(student_df_0['V'][student_df_0['Legal Sex']=='F']),2))
print('Std(F):',round(np.std(student_df_0['V'][student_df_0['Legal Sex']=='F']),2))
print()


print('GRE: Writing Score')
print('Mean(M):',round(np.mean(student_df_0['W'][student_df_0['Legal Sex']=='M']),2))
print('Median(M):',round(np.median(student_df_0['W'][student_df_0['Legal Sex']=='M']),2))
print('Std(M):',round(np.std(student_df_0['W'][student_df_0['Legal Sex']=='M']),2))
print()

print('Mean(F):',round(np.mean(student_df_0['W'][student_df_0['Legal Sex']=='F']),2))
print('Median(F):',round(np.median(student_df_0['W'][student_df_0['Legal Sex']=='F']),2))
print('Std(F):',round(np.std(student_df_0['W'][student_df_0['Legal Sex']=='F']),2))
print()


print('GPA(Scaled)')
print('Mean(M):',round(np.mean(student_df_0['gpa_scaled'][student_df_0['Legal Sex']=='M']),2))
print('Median(M):',round(np.median(student_df_0['gpa_scaled'][student_df_0['Legal Sex']=='M']),2))
print('Std(M):',round(np.std(student_df_0['gpa_scaled'][student_df_0['Legal Sex']=='M']),2))
print()

print('Mean(F):',round(np.mean(student_df_0['gpa_scaled'][student_df_0['Legal Sex']=='F']),2))
print('Median(F):',round(np.median(student_df_0['gpa_scaled'][student_df_0['Legal Sex']=='F']),2))
print('Std(F):',round(np.std(student_df_0['gpa_scaled'][student_df_0['Legal Sex']=='F']),2))
print()

In [ ]:
## statistics by domestic/international

print('*Total:')
print('GRE: Quant Score')
print('Mean(US):',round(np.mean(student_df_0['Q'][student_df_0['US Cit Stat'] != 4]),2))
print('Median(US):',round(np.median(student_df_0['Q'][student_df_0['US Cit Stat'] != 4]),2))
print('Std(US):',round(np.std(student_df_0['Q'][student_df_0['US Cit Stat'] != 4]),2))
print()

print('Mean(Inter):',round(np.mean(student_df_0['Q'][student_df_0['US Cit Stat'] == 4]),2))
print('Median(Inter):',round(np.median(student_df_0['Q'][student_df_0['US Cit Stat'] == 4]),2))
print('Std(Inter):',round(np.std(student_df_0['Q'][student_df_0['US Cit Stat'] == 4]),2))
print()


print('GRE: Verbal Score')
print('Mean(US):',round(np.mean(student_df_0['V'][student_df_0['US Cit Stat'] != 4]),2))
print('Median(US):',round(np.median(student_df_0['V'][student_df_0['US Cit Stat'] != 4]),2))
print('Std(US):',round(np.std(student_df_0['V'][student_df_0['US Cit Stat'] != 4]),2))
print()

print('Mean(Inter):',round(np.mean(student_df_0['V'][student_df_0['US Cit Stat'] == 4]),2))
print('Median(Inter):',round(np.median(student_df_0['V'][student_df_0['US Cit Stat'] == 4]),2))
print('Std(Inter):',round(np.std(student_df_0['V'][student_df_0['US Cit Stat'] == 4]),2))
print()


print('GRE: Writing Score')
print('Mean(US):',round(np.mean(student_df_0['W'][student_df_0['US Cit Stat'] != 4]),2))
print('Median(US):',round(np.median(student_df_0['W'][student_df_0['US Cit Stat'] != 4]),2))
print('Std(US):',round(np.std(student_df_0['W'][student_df_0['US Cit Stat'] != 4]),2))
print()

print('Mean(Inter):',round(np.mean(student_df_0['W'][student_df_0['US Cit Stat'] == 4]),2))
print('Median(Inter):',round(np.median(student_df_0['W'][student_df_0['US Cit Stat'] == 4]),2))
print('Std(Inter):',round(np.std(student_df_0['W'][student_df_0['US Cit Stat'] == 4]),2))
print()

print('GPA(Scaled)')
print('Mean(US):',round(np.mean(student_df_0['gpa_scaled'][student_df_0['US Cit Stat'] != 4]),2))
print('Median(US):',round(np.median(student_df_0['gpa_scaled'][student_df_0['US Cit Stat'] != 4]),2))
print('Std(US):',round(np.std(student_df_0['gpa_scaled'][student_df_0['US Cit Stat'] != 4]),2))
print()

print('Mean(Inter):',round(np.mean(student_df_0['gpa_scaled'][student_df_0['US Cit Stat'] == 4]),2))
print('Median(Inter):',round(np.median(student_df_0['gpa_scaled'][student_df_0['US Cit Stat'] == 4]),2))
print('Std(Inter):',round(np.std(student_df_0['gpa_scaled'][student_df_0['US Cit Stat'] == 4]),2))
print()

In [ ]:
student_df_0.columns

In [ ]:
## statistics by country (china vs india vs others)

print('*Total:')
print('GRE: Quant Score')
print('Mean(CHN):',round(np.mean(student_df_0['Q'][student_df_0['Foreign Cit'] == 'CHN']),2))
print('Median(CHN):',round(np.median(student_df_0['Q'][student_df_0['Foreign Cit'] == 'CHN']),2))
print('Std(CHN):',round(np.std(student_df_0['Q'][student_df_0['Foreign Cit'] == 'CHN']),2))
print()

print('Mean(IND):',round(np.mean(student_df_0['Q'][student_df_0['Foreign Cit'] == 'IND']),2))
print('Median(IND):',round(np.median(student_df_0['Q'][student_df_0['Foreign Cit'] == 'IND']),2))
print('Std(IND):',round(np.std(student_df_0['Q'][student_df_0['Foreign Cit'] == 'IND']),2))
print()

print('Mean(OTH):',round(np.mean(student_df_0['Q'][student_df_0['Foreign Cit'] == 'OTHER']),2))
print('Median(OTH):',round(np.median(student_df_0['Q'][student_df_0['Foreign Cit'] == 'OTHER']),2))
print('Std(OTH):',round(np.std(student_df_0['Q'][student_df_0['Foreign Cit'] == 'OTHER']),2))
print()


print('GRE: Verbal Score')
print('Mean(CHN):',round(np.mean(student_df_0['V'][student_df_0['Foreign Cit'] == 'CHN']),2))
print('Median(CHN):',round(np.median(student_df_0['V'][student_df_0['Foreign Cit'] == 'CHN']),2))
print('Std(CHN):',round(np.std(student_df_0['V'][student_df_0['Foreign Cit'] == 'CHN']),2))
print()

print('Mean(IND):',round(np.mean(student_df_0['V'][student_df_0['Foreign Cit'] == 'IND']),2))
print('Median(IND):',round(np.median(student_df_0['V'][student_df_0['Foreign Cit'] == 'IND']),2))
print('Std(IND):',round(np.std(student_df_0['V'][student_df_0['Foreign Cit'] == 'IND']),2))
print()

print('Mean(OTH):',round(np.mean(student_df_0['V'][student_df_0['Foreign Cit'] == 'OTHER']),2))
print('Median(OTH):',round(np.median(student_df_0['V'][student_df_0['Foreign Cit'] == 'OTHER']),2))
print('Std(OTH):',round(np.std(student_df_0['V'][student_df_0['Foreign Cit'] == 'OTHER']),2))
print()


print('GRE: Writing Score')
print('Mean(CHN):',round(np.mean(student_df_0['W'][student_df_0['Foreign Cit'] == 'CHN']),2))
print('Median(CHN):',round(np.median(student_df_0['W'][student_df_0['Foreign Cit'] == 'CHN']),2))
print('Std(CHN):',round(np.std(student_df_0['W'][student_df_0['Foreign Cit'] == 'CHN']),2))
print()

print('Mean(IND):',round(np.mean(student_df_0['W'][student_df_0['Foreign Cit'] == 'IND']),2))
print('Median(IND):',round(np.median(student_df_0['W'][student_df_0['Foreign Cit'] == 'IND']),2))
print('Std(IND):',round(np.std(student_df_0['W'][student_df_0['Foreign Cit'] == 'IND']),2))
print()

print('Mean(OTH):',round(np.mean(student_df_0['W'][student_df_0['Foreign Cit'] == 'OTHER']),2))
print('Median(OTH):',round(np.median(student_df_0['W'][student_df_0['Foreign Cit'] == 'OTHER']),2))
print('Std(OTH):',round(np.std(student_df_0['W'][student_df_0['Foreign Cit'] == 'OTHER']),2))
print()


print('GPA(Scaled)')
print('Mean(CHN):',round(np.mean(student_df_0['gpa_scaled'][student_df_0['Foreign Cit'] == 'CHN']),2))
print('Median(CHN):',round(np.median(student_df_0['gpa_scaled'][student_df_0['Foreign Cit'] == 'CHN']),2))
print('Std(CHN):',round(np.std(student_df_0['gpa_scaled'][student_df_0['Foreign Cit'] == 'CHN']),2))
print()

print('Mean(IND):',round(np.mean(student_df_0['gpa_scaled'][student_df_0['Foreign Cit'] == 'IND']),2))
print('Median(IND):',round(np.median(student_df_0['gpa_scaled'][student_df_0['Foreign Cit'] == 'IND']),2))
print('Std(IND):',round(np.std(student_df_0['gpa_scaled'][student_df_0['Foreign Cit'] == 'IND']),2))
print()

print('Mean(OTH):',round(np.mean(student_df_0['gpa_scaled'][student_df_0['Foreign Cit'] == 'OTHER']),2))
print('Median(OTH):',round(np.median(student_df_0['gpa_scaled'][student_df_0['Foreign Cit'] == 'OTHER']),2))
print('Std(OTH):',round(np.std(student_df_0['gpa_scaled'][student_df_0['Foreign Cit'] == 'OTHER']),2))
print()

## Visualization

In [ ]:
fig = plt.figure(figsize=(10,8))
ax = fig.add_subplot(111)
ax.scatter(student_df_0['Q'], student_df_0['V'], color='darkgreen', marker='^')
plt.title('GRE Quant - Verbal', fontsize=24)
plt.xlabel('GRE:Quant Score', fontsize=18)
plt.ylabel('GRE: Verbal Score', fontsize=18)
plt.show()

In [ ]:
fig = plt.figure(figsize=(10,8))
ax = fig.add_subplot(111)
ax.scatter(student_df_0['gpa_scaled'], student_df_0['V'], color='darkblue', marker='o')
plt.title('GPA - Verval', fontsize=24)
plt.xlabel('GPA', fontsize=18)
plt.ylabel('GRE: Verval Score', fontsize=18)
plt.show()

In [ ]:
fig = plt.figure(figsize=(10,8))
ax = fig.add_subplot(111)
ax.scatter(student_df_0['gpa_scaled'], student_df_0['Q'], color='darkblue', marker='o')
plt.title('GPA - Quant', fontsize=24)
plt.xlabel('GPA', fontsize=18)
plt.ylabel('GRE: Quant Score', fontsize=18)
plt.show()

In [ ]:
fig = plt.figure(figsize=(10,8))
ax = fig.add_subplot(111)
ax.scatter(student_df_0['gpa_scaled'], student_df_0['W'], color='darkblue', marker='o')
plt.title('GPA - Writing', fontsize=24)
plt.xlabel('GPA', fontsize=18)
plt.ylabel('GRE: Writing Score', fontsize=18)
plt.show()

In [ ]:
plt.figure(figsize=(10,8))
plt.hist(student_df_0['Q'])
plt.title('GRE:Quent Score', fontsize=20)
plt.xlabel('Score', fontsize=18)
plt.ylabel('Number of students', fontsize=18)
plt.show()

In [ ]:
plt.figure(figsize=(10,8))
plt.hist(student_df_0['V'])
plt.title('GRE:Verval Score', fontsize=20)
plt.xlabel('Score', fontsize=18)
plt.ylabel('Number of students', fontsize=18)
plt.show()

In [ ]:
plt.figure(figsize=(10,8))
plt.hist(student_df_0['W'])
plt.title('GRE:Writing Score', fontsize=20)
plt.xlabel('Score', fontsize=18)
plt.ylabel('Number of students', fontsize=18)
plt.show()

In [ ]:
plt.figure(figsize=(10,8))
plt.hist(student_df_0['Q'], alpha = 1.0, label='GRE:Quant')
plt.hist(student_df_0['V'], alpha = 0.5, label='GRE:Verbal')
plt.title('GRE: Quant-Verbal comparison', fontsize=20)
plt.xlabel('Score', fontsize=20)
plt.ylabel('Number of Students', fontsize=20)
plt.legend(prop={'size': 20})
plt.show()

In [ ]:
# Hyphothesis testing
# Q1: Gender difference has affect in GPA scores(t-test)
# Q2: Gender difference has affect in GRE - Quant scores
# Q3: Gender difference has affect in GRE - Verbal scores
# Q4: Gender difference has affect in GRE - Writing scores

# Q5: International students have good grades compared to others
# -> Should compare GPA/GRE scores for international vs others

# Q6: Chinese people tend to have more good grades 
# Q7: India people tend to have more good grades

# Q8: Year difference) Cohort 2021-2022 was better than 2020-2021