In [1]:
from __future__ import print_function
import pandas as pd


"""
Loads financial data as a pandas dataframe
"""
def load_dataframe(filename) :
    return pd.read_csv(filename,index_col=0)

"""
Loads financial data as a tuple: names,data.  
names is a list of the stock names represented in each column.
data is a 2d numpy array.  Each row of data corresponds to a trading day.
data[i,j] is the price (technically the adjusted closing price) of 
instrument names[j] on the ith day.  The days are ordered chronologically.
"""
def load_data(filename) :
    df = pd.read_csv(filename,index_col=0)
    names = df.columns.values.tolist()
    data = df.values
    return names, data

"""
Given a 1d numpy array vec of n values, and a list of n names,
prints the values and their associated names.
"""
def pretty_print(vec,names) :
    print(pd.DataFrame(vec,names,['']).transpose())

"""
Given a 1d numpy array vec of n values, and a list of n names,
prints the values and their associated names in a LaTeX friendly
format.
"""
def pretty_print_latex(vec,names,num_col=6) :
    print("\\begin{center}")
    print("\\begin{tabular}{c"+("|c"*(num_col-1))+"}")
    for i in range(0,len(names),num_col) :
        start = True
        for j in range(i,min(i+num_col,len(names))) :
            if not start :
                print(" & ",end='')
            start = False
            print(names[j],end='')
        print("\\\\")
        start = True
        for j in range(i,min(i+num_col,len(names))) :
            if not start :
                print(" & ",end='')
            start = False
            print("%.04f"%vec[j],end='')
        print("\\\\")
        if i+num_col < len(names) :
            print("\\hline")
    print("\\end{tabular}")
    print("\\end{center}")

def main() :
    names, data = load_data('./stockprices.csv')
    print("# of stocks = %d, # of days = %d"%(data.shape[1],data.shape[0]))
    pretty_print(data[0,:],names)
    #pretty_print_latex(data[0,:],names)

if __name__ == "__main__": 
    main()

# of stocks = 18, # of days = 433
      AAPL    AMZN     MSFT    GOOG     XOM      APC      CVX        C  \
  112.6208  753.67  60.1715  786.14  83.316  68.7428  109.136  58.0193

        GS      JPM       AET       JNJ      DGX       SPY      XLF      SSO  \
  235.3232  82.7023  120.0301  109.9246  88.5165  216.8377  22.7081  76.4006

      SDS    USO
  58.5837  11.44

## 4-a)
- Both vectors that are the largest two are AMZN and GOOG  
- This makes sense since those have the largest variance and stock price
- Below are codes that are showing vectors, std, and stock prices for the last day from given dataset

In [5]:
import numpy as np

csv = load_data('./stockprices.csv')
df = load_dataframe('./stockprices.csv')

df_diff = df.diff(axis=0)[1:]
df_diff_mean = df_diff - df_diff.mean(axis=0)
df_diff_mean_cov = df_diff_mean.cov()

# Eigendecomposition
eigen_val, eigen_vec = np.linalg.eig(df_diff_mean_cov)

In [6]:
pretty_print(abs(eigen_vec.T[0]), csv[0])

      AAPL     AMZN      MSFT      GOOG       XOM       APC       CVX  \
  0.054553  0.86793  0.036651  0.482672  0.007916  0.009795  0.013876

         C        GS       JPM       AET       JNJ       DGX       SPY  \
  0.012407  0.053403  0.020728  0.008575  0.013319  0.011993  0.054358

       XLF       SSO       SDS       USO
  0.004979  0.044236  0.016887  0.001485

In [7]:
pretty_print(abs(eigen_vec.T[1]), csv[0])

      AAPL      AMZN      MSFT      GOOG       XOM       APC      CVX  \
  0.041894  0.494995  0.026756  0.851087  0.028004  0.009165  0.02881

        C        GS       JPM       AET       JNJ       DGX       SPY  \
  0.02591  0.114993  0.037115  0.028005  0.041139  0.011263  0.069472

       XLF       SSO       SDS       USO
  0.009083  0.056721  0.021421  0.000401

In [8]:
df_diff.describe()

,AAPL,AMZN,MSFT,GOOG,XOM,APC,CVX,C,GS,JPM,AET,JNJ,DGX,SPY,XLF,SSO,SDS,USO
count,432.000000,432.000000,432.000000,432.000000,432.000000,432.000000,432.000000,432.000000,432.000000,432.000000,432.000000,432.000000,432.000000,432.000000,432.000000,432.000000,432.000000,432.000000
mean,0.246862,2.756088,0.122477,0.927616,0.001511,-0.012171,0.021130,0.036437,0.002591,0.079059,0.195962,0.072123,0.042213,0.170654,0.013809,0.120852,-0.060209,0.007778
std,2.131369,19.461074,1.053722,13.221803,0.777918,1.039231,1.293140,0.820478,3.102022,1.167043,1.750793,1.231217,1.117978,1.724295,0.252074,1.397113,0.551741,0.182504
min,-7.172300,-75.350000,-4.521700,-56.100000,-4.618600,-4.594500,-6.730400,-3.657900,-12.024300,-5.341800,-5.803100,-7.097500,-9.366700,-11.305300,-1.452800,-9.366000,-2.331700,-0.760000
25%,-0.675825,-5.067500,-0.317700,-3.987500,-0.347025,-0.514550,-0.546725,-0.353350,-1.672375,-0.483575,-0.681625,-0.448275,-0.429575,-0.453000,-0.097400,-0.327675,-0.324925,-0.082500
50%,0.121500,2.430000,0.097000,1.250000,0.018850,-0.009800,0.057500,0.009900,-0.069300,0.024150,0.193400,0.062200,0.063050,0.150250,0.009800,0.133850,-0.059200,0.025000
75%,1.266875,11.947500,0.586925,8.095000,0.410050,0.573225,0.726150,0.512700,1.793725,0.698500,1.062150,0.747450,0.534650,0.932875,0.146750,0.734750,0.167525,0.110000
max,11.132000,128.520000,6.518200,46.710000,3.018000,4.604400,4.698700,2.450200,10.267400,4.156900,18.252300,4.519000,5.722000,6.956100,0.857100,5.570000,3.096200,0.710000

In [9]:
df[-1:]

,AAPL,AMZN,MSFT,GOOG,XOM,APC,CVX,C,GS,JPM,AET,JNJ,DGX,SPY,XLF,SSO,SDS,USO
date,,,,,,,,,,,,,,,,,,
2018-09-20,219.265,1944.3,113.0815,1186.87,83.9688,63.4848,118.2641,73.7602,236.4426,116.856,204.6858,141.0816,106.7525,290.5603,28.6738,128.6087,32.5735,14.8

## 4-b)
- The first principal direction is an average of all stocks except sds. 
- This shows the trend in the market and sds moves opposite since it is an inverse levered ETF  
- The second principal component appears to group different sectors as below:  
  Group 1: Information Technology, Health Care  
  Group 2: Energy, Financial  
- Each group shows opposite returns for each other group

In [10]:
# starting from centered data
df_diff_mean_std = df_diff_mean / df_diff_mean.std(axis=0)
df_diff_mean_std_cov = df_diff_mean_std.cov()
eigen_val, eigen_vec = np.linalg.eig(df_diff_mean_std_cov)

In [16]:
pretty_print(-1 * eigen_vec.T[0],csv[0])

      AAPL     AMZN      MSFT      GOOG       XOM      APC       CVX  \
  0.195221  0.19133  0.253868  0.251205  0.201996  0.15096  0.203388

         C        GS       JPM       AET       JNJ       DGX       SPY  \
  0.253342  0.263121  0.273352  0.111681  0.179199  0.144992  0.327547

       XLF       SSO       SDS       USO
  0.295293  0.326567 -0.324006  0.113649

In [17]:
pretty_print(eigen_vec.T[1],csv[0])

      AAPL      AMZN     MSFT      GOOG       XOM       APC       CVX  \
 -0.194853 -0.219255 -0.21642 -0.186035  0.380273  0.462208  0.416726

         C        GS       JPM    AET       JNJ       DGX       SPY       XLF  \
  0.027047  0.020199  0.008606 -0.083 -0.070007 -0.195761 -0.065624 -0.008312

       SSO       SDS       USO
 -0.064406  0.074498  0.484983

## 4-c)
- Standard deviation of day 1 portfolio returns =  αTΣα.std() =  6962.07

In [13]:
num = [200] * 4 + [100] * 14

test = np.dot(df_diff_mean_cov, num)
test_std = np.sqrt(np.dot(num, test))
test_std

6962.072274462164

## 4-d)
- Pr(y ̃ ≤ −1000) = 0.3936

In [14]:
import scipy.stats

a = np.dot(num, df_diff.mean(axis=0))

In [15]:
ans = scipy.stats.norm(a, test_std).cdf(-1000)
ans

0.3935788593627705

In [ ]:
from datetime import datetime
from iexfinance.stocks import get_historical_data

names = [
    'aapl', #Apple Inc, Sector: Information Technology
    'amzn', #Amazon.con Inc, Sector: Information Technology
    'msft', #Microsoft Corp, Sector: Information Technology
    'goog', #Alphabet Inc, Sector: Information Technology
    'xom',  #Exxon Mobil Corp, Sector: Energy
    'apc',  #Anadarko Petroleum Corp, Sector: Energy
    'cvx',  #Chevron, Sector: Energy
    'c',    #Citigroup, Sector: Financial
    'gs',   #Goldman Sachs Group, Sector: Financial
    'jpm',  #JPMorgan Chase & Co, Sector: Financial
    'aet',  #Aetna Inc, Sector: Health Care
    'jnj',  #Johnson & Johnson, Sector: Health Care
    'dgx',  #Quest Diagnostics, Sector: Health Care
    'spy',  #State Street's SPDR S&P 500 ETF.  A security that roughly tracks
            #the S&P 500, a weighted average of the stock prices of
            #500 top US companies.
    'xlf',  #State Street's SPDR Financials ETF.  A security that tracks
            #a weighted average of top US financial companies.
    'sso',  #ProShares levered ETF that roughly corresponds to twice
            #the daily performance of the S&P 500.
    'sds',  #ProShares inverse levered ETF that roughly corresponds to 
            #twice the negative daily performance of the S&P 500.  That is,
            #when the S&P 500 goes up by a dollar, this roughly goes down by 2.
    'uso',  #Exchange traded product that tracks the price of oil in the US.
]

start = datetime(2017, 1, 1)
end = datetime(2018, 9, 20)

df = get_historical_data(names, start, end,output_format='pandas')
df.columns = [' '.join(col).strip() for col in df.columns.values]
cols = [n.upper()+' close' for n in names]
df = df[cols]
df.columns = [col.split(' ')[0] for col in df.columns.values]
df.to_csv('stockprices.csv')