#  Lab 01

Prerna Mishra --  pm3152@nyu.edu  

Boyang Yu --  by2026@nyu.edu  -- Wed. 9-9:50 am (right after our section) --zoom/Rm 224



**Some logistics**

Recoding for first 2 weeks

department/program

python experience

## 1.1. Python Concepts/Basic data types

### Variables

In Python, variable names:

 * can include letters, digits, and underscores
 * cannot start with a digit
 * are case sensitive.

This means that, for example:

 * weight0 is a valid variable name, whereas 0weight is not
 * weight and Weight are different variables

### Types

Python knows various types of data. Three common ones are:

 * integer numbers
 * floating point numbers, and
 * strings
 * Boolean

In [3]:
length_m = "length in meters"
type(length_m)

str

In [2]:
length_m = 10.0
type(length_m)

float

In [4]:
length_m = 10
type(length_m)

int

In [ ]:
COMMENT: INSTED OF PREVIOUS USE YOUR OWN EXAMPLES/WORDS; MAYBE TO HELP: 
        
        https://en.wikiversity.org/wiki/Python_Concepts/Basic_data_types

## 1.2 Assign multiple variables

In [5]:
three_type_of_energy = ["protein", "carbohydrates", "fat"]

In [6]:
# reassigning possible
# f''{variable} is how to print variable(one of the ways)
protein, carbohydrate, fat = three_type_of_energy
print(f"{carbohydrate} sure taste good")
print(f"{fat} isn't bad for you anymore?")

carbohydrates sure taste good
fat isn't bad for you anymore?

### Adding Numbers

In [7]:
protein = 4
fat = 9
carbohydrate = 4
carbohydrate + protein

8

### Adding Strings

In [8]:
# adding strings so convert to str for int variable

"a carbohydrate " + "has " + str(carbohydrate) + " calories"

'a carbohydrate has 4 calories'

### Complex statements

More complex statements can be created that use data structures like the belts variable, which is a list.

In [6]:
for energy_type in three_type_of_energy:
    print(energy_type)

protein
carbohydrates
fat

# 1.2. Statements

## Functions

### Definition

In [9]:
def welcomeTo_lab():
    print("welcome to the first lab. Thanks!")

In [10]:
welcomeTo_lab()

welcome to the first lab. Thanks!

### Return

In [11]:
def plus_one(n):
    return n+1

In [12]:
plus_one(100)

101

### Iterative and Recursive Functions

In [13]:
def cum_sum(n):
    
    sum_re = 0
    for i in range(1, n + 1):#starts from 1, range(n+1) starts from 0, both end in n
        sum_re += i
        
    return sum_re

In [14]:
print(cum_sum(0), cum_sum(1), cum_sum(3), cum_sum(4), cum_sum(5))

0 1 6 10 15

In [15]:
def cum_sum_rec(n):
    
    if n < 1:
        return 0
    else:
        return n + cum_sum_rec(n - 1)

In [16]:
print(cum_sum_rec(0), cum_sum_rec(1), cum_sum_rec(3), cum_sum_rec(4), cum_sum_rec(5))

0 1 6 10 15

### assert

The assert keyword lets you test if a condition in your code returns True, if not, the program will raise an AssertionError.

In [18]:
assert carbohydrate == 9

'''
if carbohydrate == 9:
    ...
else:
    ....


try:
    ...
except AssertionError:
    ...
'''

AssertionError:

In [19]:
assert carbohydrate == 4

### pass

pass is a null operation -- when it is executed, nothing happens. It is useful as a placeholder when a statement is required syntactically, but no code needs to be executed.

In [20]:
class Calorie: pass
kcal = Calorie()

### del

The del keyword is used to delete objects. In Python everything is an object, so the del keyword can also be used to delete variables, lists, or parts of a list etc

In [21]:
class Calorie: pass
kcal = Calorie()
%who_ls

['Calorie',
 'carbohydrate',
 'cum_sum',
 'cum_sum_rec',
 'fat',
 'kcal',
 'length_m',
 'plus_one',
 'protein',
 'three_type_of_energy',
 'welcomeTo_lab']

%who_ls
Return a sorted list of all interactive variables.

In [22]:
del kcal
%who_ls

['Calorie',
 'carbohydrate',
 'cum_sum',
 'cum_sum_rec',
 'fat',
 'length_m',
 'plus_one',
 'protein',
 'three_type_of_energy',
 'welcomeTo_lab']

### return

A return statement is used to end the execution of the function call and “returns” the result (value of the expression following the return keyword) to the caller.

In [23]:
def food():
    return "whey"

print(f"Make {food()} while the sun shines")

Make whey while the sun shines

### yield

yield is a keyword in Python that is used to return from a function without destroying the states of its local variable and when the function is called, the execution starts from the last yield statement.

In [24]:
def too_much_food():
    meal = ["orange", "apple", "turkey", "ham"]
    for snack in meal:
        yield snack

In [25]:
snacks = too_much_food()
print(next(snacks))
print(next(snacks))

orange
apple

In [26]:
next(snacks)

'turkey'

In [27]:
next(snacks)

'ham'

In [28]:
next(snacks)

StopIteration:

### break

It terminates the current loop, just like the traditional break statement in C.

In [29]:
carbohydrate = 4
calories = 0
while True:
    calories += carbohydrate
    print(f"Eating more carbohydrates {calories}")
    if calories > 8:
        print("This is all I can eat")
        break

Eating more carbohydrates 4
Eating more carbohydrates 8
Eating more carbohydrates 12
This is all I can eat

### continue

The continue statement, also borrowed from C, continues with the next iteration of the loop.

In [30]:
three_type_of_energy = ["protein", "sugar", "fat"]
for energy in three_type_of_energy:
    if energy == "sugar":
        print(f"skipping {energy} for my health")
        continue
    print(f"eating {energy}")

eating protein
skipping sugar for my health
eating fat

### import

In Python, we use the import keyword to make code in one module available in another.

In [22]:
import this

'''
./
    this.py
    current_src.py #import this
                    #import sys
                    #sys.path('../')
    
./tools
    useful.py
'''

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

https://en.wikipedia.org/wiki/Tim_Peters_(software_engineer)

## 1.3 Printing

### Printing

In [31]:
print("omelets are tasty")

omelets are tasty

In [32]:
variable = "ham"
print(f"I like {variable}")
#float, f'{:6f}'

I like ham

In [35]:
#f-string
flo=0.6666666666
print("I like {} {:4f}".format(variable,flo))

I like ham 0.666667

### Create Variable and Use Variable

In [36]:
variable = "omelets";print(variable)

omelets

### Use print as a function

In [38]:
print("kombucha", "manuka honey", sep="\n")

kombucha
manuka honey

## 1.4 Perform basic math operations

Numbers and Arithmetic Operations


Python is also a built-in calculator. Without installing any additional libraries it can do many simple and complex arithmetic operations

### Adding and Subtracting Numbers

In [39]:
steps = (1+1)-1
print(f"Two Steps Forward:  One Step Back = {steps}")

Two Steps Forward:  One Step Back = 1

### Multiplication with Decimals

Can use float type to solve decimal problems

In [40]:
body_fat_percentage = 0.10
weight = 200
fat_total = body_fat_percentage * weight
print(f"I weight 200lbs, and {fat_total}lbs of that is fat")

I weight 200lbs, and 20.0lbs of that is fat

Can also use Decimal Library to set precision and deal with repeating decimal

In [29]:
from decimal import (Decimal, getcontext)

'''
import numpy as np
numpy.cum_sum()
np.cum_sum()

import decimal
decimal.Decimal
'''

getcontext().prec = 2
Decimal(1)/Decimal(3)

Decimal('0.33')

### Using Exponents

Using the Python math library it is straightforward to call 2 to the 3rd power

In [41]:
import math
math.pow(2,3) #2*2*2

8.0

Can also use built in exponent operator to accomplish same thing

In [42]:
2**3 #2*2*2

8

multiply

In [43]:
2*3

6

### Converting Between different numerical types

There are many numerical forms to be aware of in Python. A couple of the most common are: Integers, Floats.

In [44]:
number = 100
num_type = type(number).__name__
print(f"{number} is type [{num_type}]")

100 is type [int]

In [45]:
number = float(100)
num_type = type(number).__name__
print(f"{number} is type [{num_type}]")

100.0 is type [float]

In [46]:
class Foo:pass
f = Foo()

In [47]:
type(f)

__main__.Foo

### Numbers can also be rounded

Python Built in round

In [48]:
too_many_decimals = 1.912345897
round(too_many_decimals, 3)
#get more info
#round?

1.912

Numpy round

In [49]:
import numpy as np
np.round(too_many_decimals, 3)

1.912

Pandas round

In [50]:
import pandas as pd
df = pd.DataFrame([too_many_decimals], columns=["A"], index=["first"])
df.round(2)

          A
first  1.91

Simple benchmark of all three (Python, numpy and Pandas round): using %timeit

*Depending on what is getting rounded (i.e. a very large DataFrame, performance may very, so knowing how to benchmark performance is important with round) *

In [51]:
print("built in Python Round")
%timeit round(too_many_decimals, 2)

print("numpy round")
%timeit np.round(too_many_decimals, 2)

print("Pandas DataFrame round")
%timeit df.round(2)

built in Python Round
962 ns ± 70.1 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)
numpy round
21.3 µs ± 5.12 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)
Pandas DataFrame round
1.39 ms ± 226 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

## 1.5. Strings

### 1.5.1 Use string methods

#### String Quoting

In [52]:
'Here is a string'

'Here is a string'

#### Double quotes

In [53]:
"Here is a string" == 'Here is a string'

True

#### Triple Strings

In [54]:
a_very_large_phrase = """
Wikipedia is hosted by the Wikimedia Foundation, 
a non-profit organization that also hosts a range of other projects.
"""

print(a_very_large_phrase)

# "Wikipedia is hosted by the Wikimedia Foundation," + " \n " + "a non-profit organization that also hosts a range of other projects."

Wikipedia is hosted by the Wikimedia Foundation,
a non-profit organization that also hosts a range of other projects.

#### Raw Strings

In [55]:
jon_jones = '...wrote on twitter he is the greatest "heavyw8e! \nfighter of all time'
print(jon_jones)

...wrote on twitter he is the greatest "heavyw8e!
fighter of all time

In [56]:
jon_jones = r'...wrote on twitter he is the greatest "heavyw8e! \nfighter of all time'
print(jon_jones)

#\n \t

...wrote on twitter he is the greatest "heavyw8e! \nfighter of all time

#### Case Manipulation

In [52]:
captain = "Patrick Tayluer"

captain

'Patrick Tayluer'

In [53]:
captain.capitalize()

'Patrick tayluer'

In [54]:
captain.lower()

'patrick tayluer'

In [55]:
captain.upper()

'PATRICK TAYLUER'

In [56]:
captain.swapcase()

'pATRICK tAYLUER'

In [57]:
captain = 'patrick tayluer'
captain.title()

'Patrick Tayluer'

#### Interrogation

In [58]:
river = 'Mississippi'

In [59]:
len(river)

11

In [60]:
river.count('s')

4

In [61]:
river.index('pp')

8

In [62]:
river.index('r')

ValueError: substring not found

In [63]:
river.find('r')

-1

In [64]:
river.startswith('M')

True

In [65]:
river.endswith('i')

True

In [66]:
'sip' in river

True

#### Content Type

In [67]:
'abc123'.isalpha()

False

In [68]:
'abc123'.isalnum()

True

In [69]:
'lowercase'.islower()

True

In [70]:
'lowercase'.isupper()

False

In [71]:
'The Good Ship'.istitle()

True

In [72]:
'The bad seed'.istitle()

False

### 1.5.2 Format strings

F-strings where introduced in Python 3.6. They prefixed by either a ‘F’ or ‘f’ before the beginning quotation mark. Values can be inserted into F-strings at runtime using replacement fields which are deliminated by curly braces.

#### Insert variable into replacement field

In [73]:
strings_count = 5
frets_count = 24
f"Noam Pikelny's banjo has {strings_count} strings and {frets_count} frets"

"Noam Pikelny's banjo has 5 strings and 24 frets"

#### Insert expression into replacement field

In [74]:
a = 12
b = 32
f"{a} times {b} equals {a*b}"

'12 times 32 equals 384'

#### Index list in string replacement fields

In [75]:
players = ["Tony Trischka", "Bill Evans", "Alan Munde"]
f"Performances will be held by {players[1]}, {players[0]}, and {players[2]}"

'Performances will be held by Bill Evans, Tony Trischka, and Alan Munde'

#### Conversion flags

A conversion flag can be specified to convert the type of the value before formatting. The three available flags are ‘s’, ‘r’ and ‘a’.

#### Using str conversion

In [76]:
nuts = [1,2,3,4,5]
f"Calling str() on a the list {nuts} produces {nuts!s}"

'Calling str() on a the list [1, 2, 3, 4, 5] produces [1, 2, 3, 4, 5]'

#### Using repr conversiont

In [77]:
nut = 'pistacio'
f"Calling repr on the string {nut} results in {nut!r}"

"Calling repr on the string pistacio results in 'pistacio'"

#### Using ascii conversion

In [78]:
check = "√"
f"The ascii version of {check} is {check!a}"

"The ascii version of √ is '\\u221a'"

#### Padding a number

In [79]:
lucky_num = 13
f"To pad the number {lucky_num} to 5 places:{lucky_num:5d}"

'To pad the number 13 to 5 places:   13'

#### Setting padding value at runtime

In [80]:
luckey_num = 13
padding = 5
f"To pad the number {lucky_num} to {padding} places:{lucky_num:{padding}d}"

'To pad the number 13 to 5 places:   13'

### 1.5.3 Manipulate strings

#### Concatenation

In [81]:
"Bob" + "beroo"

'Bobberoo'

In [82]:
"AB" * 8

'ABABABABABABABAB'

#### Remove Whitespace

In [83]:
ship = " The Yankee Clipper "
ship

' The Yankee Clipper '

In [84]:
ship.strip()

'The Yankee Clipper'

In [85]:
ship.lstrip()

'The Yankee Clipper '

In [86]:
ship.rstrip()

' The Yankee Clipper'

In [87]:
ship.rstrip("per ")

' The Yankee Cli'

#### Add padding

In [88]:
port = "Boston"

In [89]:
port.center(12, '*')

'***Boston***'

In [90]:
port.ljust(12, '*')

'Boston******'

In [91]:
port.rjust(12, '*')

'******Boston'

In [92]:
for port_city in ['Liverpool', 'Boston', 'New York', 'Philadelphia']:
    print(port_city.rjust(12))

   Liverpool
      Boston
    New York
Philadelphia

In [93]:
'-5'.zfill(4)

'-005'

#### Replace

In [94]:
"FILADELFIA".replace("F", "PH")

'PHILADELPHIA'

#### Spitting and Joining

In [95]:
words_string = "Here,Are,Some,Words"
words_string

'Here,Are,Some,Words'

#### Split on comma

In [97]:
words = words_string.split(',')
words

['Here', 'Are', 'Some', 'Words']

#### Joining

In [98]:
':'.join(words)

'Here:Are:Some:Words'

#### Split on newline

In [99]:
multiline = "Sometimes we are given\na multiline document\nas a single string"
multiline

'Sometimes we are given\na multiline document\nas a single string'

In [100]:
for line in multiline.splitlines():
  print(line)

#.split('\n')
#using raw strings?

Sometimes we are given
a multiline document
as a single string

#### Slicing

In [101]:
collector = "William Main Doerflinger"
collector[0]

'W'

In [102]:
collector[-1]

'r'

In [103]:
collector[13:18]

'Doerf'

In [104]:
collector[-7:]

'flinger'

### 1.5.4 Learn to use unicode

There are multiple encoding possible for mapping characters to bytes. Python strings default to UTF-8. Earlier versions of Python used a more limited encoding.

#### Encode

In [106]:
twice_pie = 'ππ'
twice_pie

'ππ'

In [107]:
twice_π = twice_pie
twice_π

'ππ'

In [108]:
pie = "\N{GREEK CAPITAL LETTER PI}"
pie

'Π'

In [109]:
ord(pie)

928

In [110]:
chr(928)

'Π'

In [111]:
u = chr(40960) + 'abcd' + chr(1972)
u.encode('utf-8')
u

'ꀀabcd\u07b4'

#### Saving File in Unicode

In [113]:
with open("new_file.txt", "w", encoding='utf-8') as opened_file:
    opened_file.write("Søme Unˆcode text")
  
!cat new_file.txt
!ls

Søme Unˆcode text

why saving files in unicode?

https://support.microsoft.com/en-us/office/choose-text-encoding-when-you-open-and-save-files-60d59c21-88b5-4006-831c-d536d42fd861

# 1.4. sequence types

Lists, tuples, and strings are all Python sequences, and share many of the same methods.

#### Creating an empty list

In [115]:
empty = []
empty

[]

#### Using square brackets with initial values

In [116]:
numbers = [1, 2, 3]
numbers

[1, 2, 3]

#### Casting an iterable

Any iterable can be cast to a list

In [118]:
numbers = list(range(10))
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

#### Creating using multiplication

In [119]:
num_players = 10
scores = [0] * num_players
scores

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

#### Mixing data types

Lists can contain multple data types

In [121]:
mixed = ['a', 1, 2.0, [13], {}]
mixed

['a', 1, 2.0, [13], {}]

#### Indexing

Items in lists can be accessed using indices in a similar fashion to strings.

#### access first item

In [122]:
numbers[0]

0

#### Access last item

In [125]:
numbers[-1]

9

#### Access any item

In [127]:
numbers[4]

4

#### Adding to a list

#### Append to the end of a list

In [130]:
letters = ['a']
letters.append('c')
letters

['a', 'c']

#### Insert at beginning of list

In [131]:
letters.insert(0, 'b')
letters

['b', 'a', 'c']

#### Insert at arbitrary position

In [133]:
letters.insert(2, 'c')
letters

['b', 'a', 'c', 'c']

#### Extending with another list

In [134]:
more_letters = ['e', 'f', 'g']
letters.extend(more_letters)
letters

['b', 'a', 'c', 'c', 'e', 'f', 'g']

#### Change item at some position

In [135]:
letters[3] = 'd'
letters

['b', 'a', 'c', 'd', 'e', 'f', 'g']

#### Swap two items

In [138]:
letters[0], letters[1] = letters[1], letters[0]
letters

['a', 'b', 'c', 'd', 'e', 'f', 'g']

#### Removing items from a list

#### Pop from the end

In [140]:
letters = ['a', 'b', 'c', 'd', 'e', 'f']
letters.pop()
letters

['a', 'b', 'c', 'd', 'e']

#### Pop by index

In [141]:
letters.pop(2)
letters

['a', 'b', 'd', 'e']

#### Remove specific item

In [142]:
letters.remove('d')
letters

['a', 'b', 'e']

#### Create tuple using brackets

In [143]:
tup = (1, 2, 3)
tup

(1, 2, 3)

#### Create tuple with commas

In [144]:
tup = 1, 2, 3
tup

(1, 2, 3)

#### Create empty tuple

In [145]:
tup = ()
tup

()

#### Create tuple with single item

In [146]:
tup = 1,
tup

(1,)

#### Behaviours shared by lists and tuples

The following sequence behaviors are shared by lists and tuples

#### Check item in sequence

In [147]:
3 in (1, 2, 3, 4, 5)

True

#### Check item not in sequence

In [148]:
'a' not in [1, 2, 3, 4, 5]

True

#### Slicing

#### Setting start, slice to the end

In [149]:
letters = 'a', 'b', 'c', 'd', 'e', 'f'
letters[3:4]

('d',)

#### Set end, slice from beginning

In [150]:
letters[:4]

('a', 'b', 'c', 'd')

#### Index from end of sequence

In [151]:
letters[-4:]

('c', 'd', 'e', 'f')

#### Setting step

In [152]:
letters[1::-2]

('b',)

#### Unpacking

In [153]:
first, middle = [1, 2, 3]

f"first = {first},  middle = {middle},  last = {last}"

ValueError: too many values to unpack (expected 2)

#### Extended unpacking

In [154]:
first, *middle, last = (1, 2, 3, 4, 5)

f"first = {first},  middle = {middle},  last = {last}"

'first = 1,  middle = [2, 3, 4],  last = 5'

#### Using list as Stack

A stack is a LIFO (last in, first out) data structure which can be simulated using a list

#### Push onto the stack using append

In [155]:
stack = []
stack.append('first on')
stack.append('second on')
stack.append('third on')
stack

['first on', 'second on', 'third on']

#### Retrieve items, last one first using pop

In [156]:
f"Retrieved first: {stack.pop()!r}, retrieved second: {stack.pop()!r}, retrieved last: {stack.pop()!r}"

"Retrieved first: 'third on', retrieved second: 'second on', retrieved last: 'first on'"

In [ ]:
stack

# 1.6. dictionaries

Dictionaries are mappings of key value pairs

#### Create an empty dict using constructor

In [158]:
dictionary = {}
dictionary

{}

#### Create a dictionary based on key/value pairs

In [159]:
key_values = [['key-1','value-1'], ['key-2', 'value-2']]
dictionary = dict(key_values)
dictionary

{'key-1': 'value-1', 'key-2': 'value-2'}

#### Use curley braces to create a dictionary with initial key/values

In [160]:
dictionary = {'key-1': 'value-1',
              'key-2': 'value-2'}

dictionary

{'key-1': 'value-1', 'key-2': 'value-2'}

#### Access value using key

In [161]:
dictionary['key-1']

'value-1'

#### Add a key/value pair to an existing dictionary

In [162]:
dictionary['key-3'] = 'value-3'

dictionary

{'key-1': 'value-1', 'key-2': 'value-2', 'key-3': 'value-3'}

#### Update value for existing key

In [163]:
dictionary['key-2'] = 'new-value-2'
dictionary['key-2']

'new-value-2'

#### Get keys

In [164]:
list(dictionary.keys())

['key-1', 'key-2', 'key-3']

#### Get values

In [165]:
dictionary.values()

dict_values(['value-1', 'new-value-2', 'value-3'])

#### Get iterable keys and items

In [166]:
dictionary.items()

dict_items([('key-1', 'value-1'), ('key-2', 'new-value-2'), ('key-3', 'value-3')])

#### Use items in for loop

In [167]:
for key, value in dictionary.items():
    print(f"{key}: {value}")

key-1: value-1
key-2: new-value-2
key-3: value-3

#### Check if dictionary has key

The ‘in’ syntax we used with sequences checks the dicts keys for membership.

In [169]:
'key-5' in dictionary

False

#### Get method

In [170]:
dictionary.get("bad key", "default value")

'default value'

#### Remove item

In [171]:
del(dictionary['key-1'])
dictionary

{'key-2': 'new-value-2', 'key-3': 'value-3'}

#### Keys must be immutable

List as key

Lists are mutable and not hashable

In [172]:
items = ['item-1', 'item-2', 'item-3']

map = {}

map[items] = "some-value"

TypeError: unhashable type: 'list'

Tuple as a key

Tuples are immutable and hence hashable

In [173]:
items = 'item-1', 'item-2', 'item-3'
map = {}
map[items] = "some-value"

map

{('item-1', 'item-2', 'item-3'): 'some-value'}