In [1]:
print('Welcome to DSGA1007!')

Welcome to DSGA1007!

## Basic types
### Numerical types: int, float, complex:

In [2]:
a = 1
print('value:', a, 'type:', type(a))

value: 1 type: <class 'int'>

In [4]:
b = 2.0
print('value:', b, 'type:', type(b))

value: 2.0 type: <class 'float'>

In [6]:
# complex = real + imag
c = 10.52 + 10j
print('vclue:', c, 'type:', type(c))
print('real:', c.real, 'img:', c.imag)

vclue: (10.52+10j) type: <class 'complex'>
real: 10.52 img: 10.0

In [8]:
a = a + 100
print('value:', a, 'type:', type(a))

b += 25
print('value:', b, 'type:', type(b))

c -= 20 + 5j
print('vclue:', c, 'type:', type(c))
print('real:', c.real, 'img:', c.imag)

value: 201 type: <class 'int'>
value: 27.0 type: <class 'float'>
vclue: (-9.48+5j) type: <class 'complex'>
real: -9.48 img: 5.0

## Containers:
### Lists

In [9]:
empty_list= []
print(empty_list)

[]

In [10]:
one_elemnet_list = [100]
print(one_elemnet_list)

[100]

In [11]:
# adding empty list will affect nothing
one_elemnet_list + empty_list

[100]

In [12]:
empty_list + one_elemnet_list

[100]

In [14]:
lint_of_ints = [1,2,3,4,5,6,7]
type(lint_of_ints)

list

In [15]:
print(lint_of_ints)

[1, 2, 3, 4, 5, 6, 7]

In [16]:
lint_of_ints.append(8)
print(lint_of_ints)

[1, 2, 3, 4, 5, 6, 7, 8]

In [17]:
len(lint_of_ints)

8

In [18]:
# adding list = appending list
[1,-2,3] + [17,8,9,10]

[1, -2, 3, 17, 8, 9, 10]

In [19]:
lint_of_ints += lint_of_ints
print(lint_of_ints)

[1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8]

In [20]:
lint_of_ints = sorted(lint_of_ints)
print(lint_of_ints)

[1, 1, 2, 2, 3, 3, 4, 4, 5, 5, 6, 6, 7, 7, 8, 8]

In [24]:
# Indexing and Slicing 
lint_of_ints[3]

2

In [25]:
# counts from the end(end = -1)
lint_of_ints[-3]

7

In [26]:
# slicing [start:end(end doesnt count)]
print(lint_of_ints[:6])

[1, 1, 2, 2, 3, 3]

In [27]:
# start from index no.6(so 7th)
print(lint_of_ints[6:])

[4, 4, 5, 5, 6, 6, 7, 7, 8, 8]

In [28]:
#index 2,3,4,5
print(lint_of_ints[2:6])

[2, 2, 3, 3]

In [29]:
# last three element, use minus(-)
print(lint_of_ints[-3:])

[7, 8, 8]

### Set

In [13]:
# order x
demo_set = {1,2,3}

{1,2,3} == {2,3,1}

True

In [23]:
# duplication x
set(lint_of_ints)

{1, 2, 3, 4, 5, 6, 7, 8}

## Strings

In [30]:
# immutable(cannot change)
string_one = 'welcome_to_dsga_1007'
string_two = '_at_nyu'

In [31]:
print(string_one, string_two)

welcome_to_dsga_1007 _at_nyu

In [32]:
# Can use len to list but also to strings
print(type(string_one), type(string_two))
print(len(string_one), len(string_two))

<class 'str'> <class 'str'>
20 7

In [33]:
# slicing o
print(string_one[:7])

print(string_two[-5:])

welcome
t_nyu

In [34]:
# immutable, so not possible to modify
# this will generate error 

string_one[2] = 'b'

TypeError: 'str' object does not support item assignment

In [35]:
# how to modify strings? slicing and adding a new one
# i.e. changing index no.2 to 'N'
string_one[:2] + 'N' + string_one[3:]

'weNcome_to_dsga_1007'

In [37]:
# reassign to same variable, this will modify certain variable
string_one = string_one[:2] + 'N' + string_one[3:]
print(string_one)

weNcome_to_dsga_1007

In [38]:
# adding o
string_one += string_two
print(string_one)

weNcome_to_dsga_1007_at_nyu

In [39]:
# replace, reassigns the variable so can be changed 
string_one.replace('_', '*')

'weNcome*to*dsga*1007*at*nyu'

## Dictionaries = {'key': 'value'}

In [47]:
dict_empty = {}

dict_one = {0:10, 1:11, 2:12}

dict_two = {1: 'a', 2: 'bb', 3: 'ccc'}

In [48]:
# accessing to values
dict_one[0]

10

In [49]:
dict_two[3]

'ccc'

In [50]:
# create a new key
dict_two[4] = 123456
print(dict_two)

{1: 'a', 2: 'bb', 3: 'ccc', 4: 123456}

## Control flows
### if/elif/else

In [52]:
if 1 == 2:
    print('1 == 2')
else:
    print('1 != 2')

1 != 2

In [53]:
a = 2

print('the vale of a is:')
if a == 1:
    print(1)
elif a == 2:
    print(2)
elif a == 3:
    print(3)
else:
    print('neither 1,2,3 but', a)

the vale of a is:
2

### for/range
#### to iterate with an index

In [54]:
# range(15) == 0~14
for i in range(15):
    print('i:', i)
#     print('the total num is 15')

i: 0
i: 1
i: 2
i: 3
i: 4
i: 5
i: 6
i: 7
i: 8
i: 9
i: 10
i: 11
i: 12
i: 13
i: 14

In [55]:
lst_of_words = ['welcome', 'to', 'the', 'class', 'all', 'the', 'best']

for word in lst_of_words:
    print(word)

welcome
to
the
class
all
the
best

In [56]:
for key, val in dict_two.items():
    print('key: %s; value: %s' % (key, val))

key: 1; value: a
key: 2; value: bb
key: 3; value: ccc
key: 4; value: 123456

### enumeration

In [61]:
# creating index number
print('(index, word)')

for index, word in enumerate(lst_of_words):
    print(index, word)

(index, word)
0 welcome
1 to
2 the
3 class
4 all
5 the
6 best

### while/break/continue

In [62]:
# break: exit the for loop

lst_of_numbers = [1,2,3,4,5,0,6,7,8,9,10]

for element in lst_of_numbers:
    if element == 0.0:
        print('division by 0')
        break
    else:
        print(1 / element)

1.0
0.5
0.3333333333333333
0.25
0.2
division by 0

In [63]:
# continue: exit the for loop for certain iteration, but continues with next iteration

lst_of_numbers = [1,2,3,4,5,0,6,7,8,9,10]

for element in lst_of_numbers:
    if element == 0.0:
        print('division by 0')
        continue
    else:
        print(1 / element)

1.0
0.5
0.3333333333333333
0.25
0.2
division by 0
0.16666666666666666
0.14285714285714285
0.125
0.1111111111111111
0.1

## List Comprehensions

In [65]:
lst = [ x ** 2 for x in range(11)]
print('lst:', lst)

lst: [0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## Functions

In [66]:
# can create functions by using definition
def test_pass():
    pass

In [67]:
test_pass()

In [68]:
def welcom_message():
    print('welcome to DSGA1007. all the best!')

In [69]:
welcom_message()

welcome to DSGA1007. all the best!

### return statement

In [70]:
def test_function():
    return 1

In [71]:
test_function()

1

### positional arguments

In [73]:
def area_of_rectangle(length, width):
    area = length * width
    return area

In [74]:
area_of_rectangle(10,20)

200

In [75]:
def area_of_rectangle(length, width):
    
    # setting exceptions, or makes any of conditions to return if statement(if true)
    if length < 0 or width < 0:
        return -1
    else:
        return length * width

In [76]:
area_of_rectangle(-10,-20)

-1

In [78]:
area_of_rectangle(-10,20)

-1

## Global variables

In [79]:
# a variable works regardless of in/out of function

GLOB_VAR = 100

def function_example_glob_var(x):
    
    y = x + GLOB_VAR
    
    return y

function_example_glob_var(20)

120

## Iterative and Recursive Functions

In [80]:
# iterative function
def fact_it(n):
    prod = 1
    for i in range(1, n+1):
        prod *= i
    
    return prod

In [83]:
print(fact_it(0), fact_it(1), fact_it(3), fact_it(4), fact_it(5))

1 1 6 24 120

In [84]:
# recursive function
def fact_rec(n):
    if n <= 1:
        return 1
    else:
        return n * fact_rec(n-1)

In [85]:
print(fact_it(0), fact_it(1), fact_it(3), fact_it(4), fact_it(5))

1 1 6 24 120

## Function Convolution
### one can perform a function convoultion: for f(x) and g(x) to compute g(f(x))

In [86]:
def f(x):
    return x + 100

def g(x):
    return 2 * x

print(g(f(1)), "---- 2 * (x+100)")
print(f(g(1)), "---- (2*x) + 100")

202 ---- 2 * (x+100)
102 ---- (2*x) + 100

## Docstring
### documentation about what the function does and its parameters

In [89]:
def factorial_recursive(n):
    '''
    Function to calculate facctorial of the input in a rec. way
    :param n: (int) non-negative integer value for which we calculate
    :return: (int) factorial of the given input
    '''
    
    if n <= 0:
        return 1
    else:
        return n * factorial_recursive(n-1)

In [90]:
factorial_recursive.__doc__

'\n    Function to calculate facctorial of the input in a rec. way\n    :param n: (int) non-negative integer value for which we calculate\n    :return: (int) factorial of the given input\n    '